.freeword{
  margin: 30px 48px 0 0;
  max-width: 400px;
  width: 95%;
  @media #{$tablet} {
    margin: 30px auto 0;
  }
  @media #{$sp-large}{
    margin: 15px auto 0;
    width: 90%;
  }
}

.fwBody{
  display: table;
  height: 100%;
  margin: auto;
  width: 100%;
}

.freeWordInput{
  -webkit-appearance: none;
  display: table-cell;
  vertical-align: top;
  width: 80%;
  width: calc(100% - #{$btn-width});
  @media #{$sp-large} {
    width: calc(100% - #{$btn-width-sp});
  }
}

#freeword{
  -webkit-appearance: none;
  background: #fff;
  border: solid 2px $main-color;
  border-radius: 0;
  color: #000;
  font-family: inherit;
  @include rem(18);
  line-height: $input-height;
  display: block;
  padding: 0 0 0 20px;
  width: 100%;
  @media #{$sp-large} {
    font-size: 1.4rem;
    line-height: $input-height-sp;
    padding: 0 0 0 10px;
  }
  //@media #{$sp-small} {
  //  font-size: 1.0rem;
  //}
  @media #{$IE11} {
    height: $input-height;
    @media #{$sp-large} {
      height: $input-height-sp;
    }
  }
}

.freeWordButton{
  -webkit-appearance: none;
  //background: $sub-color;
  //border-radius: 0 5px 5px 0;
  display: table-cell;
  vertical-align: top;
  //height: 100%;
  width: $btn-width;
  @media #{$sp-large}{
    width: $btn-width-sp;
  }
  //----------------------
  // For submit icon
  //----------------------d
  &__icon{
    font-size: 0;
    display: block;
    height: 100%;
    position: relative;
    &:before{
      color: #fff;
      //content:'\f002';
      content: url(#{$img-path}icon1.svg);
      display: block;
      //font-family: fontawesome;
      //font-size: 3rem;
      //font-weight: 300;
      //line-height: 50px;
      //margin: 0px 0 0 -13px;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 101;
      //@media #{$tablet} {
      //  font-size: 2.6rem;
      //  margin: 0 0 0 -12px;
      //}
      @media #{$sp-large}{
        //font-size: 2rem;
        line-height: $input-height-sp;
        //margin: 0 0 0 -10px;
        transform: translateY(-40%) translateX(-50%) scale(0.65);
        transform-origin: center;
      }
    }
  }
}

#freewordsearch{
  -webkit-appearance: none;
  background: $main-color;
  border: solid 2px $main-color;
  border-radius: 0;
  cursor: pointer;
  //color: #fff;
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //font-family: inherit;
  //@include rem(18);
  //font-weight: 700;
  //letter-spacing: 0.4em;
  line-height: $input-height;
  //text-align: center;
  width: 100%;
  @media #{$sp-large} {
    line-height: $input-height-sp;
    //@include rem(14);
  }
}
