.areaMap{
  margin: 20px 0 0 0;
  width: 524px;
  @media #{$tablet} {
    margin: 30px auto;
  }
  @media (max-width: 768px){
    margin: 7px 0 0;
    width: 100%;
  }
  .area {
    ul {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
    }
  }
}

.areaMap #mapObj.js_textmode > * {
  font-family: '-apple-system','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Yu Gothic', YuGothic, 'recop-mapfonts', Meiryo, 'メイリオ', sans-serif !important;
}
