@charset "UTF-8";
/*****************************************
- First time cording was done by maSuzuki.
  Source from Canada ;)
- This file is used for only top page
  except for header and footer. Please
  look at original.css for those parts.
*****************************************/
/*========================================
  Initializing
=========================================*/
/*****************************
fontawesome
*****************************/
@font-face {
  font-family: 'fontawesome';
  src: url("/jobfind-pc/original/fonts/fontawesome-webfont.eot");
  src: url("/jobfind-pc/original/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/jobfind-pc/original/fonts/fontawesome-webfont.woff") format("woff"), url("/jobfind-pc/original/fonts/fontawesome-webfont.ttf") format("truetype"), url("/jobfind-pc/original/fonts/fontawesome-webfont.svg#fontawesome") format("svg"); }

/*****************************
fontfamily initialisation
*****************************/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100; }

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200; }

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-transform: rotate(0.03deg);
          transform: rotate(0.03deg); }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5% !important; }

body#pagetop {
  background-color: #fff !important;
  color: #333;
  font-family: "-apple-system", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Yu Gothic", YuGothic, Meiryo, メイリオ, sans-serif;
  font-size: inherit;
  font-weight: 500;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: inherit;
  margin: 0;
  padding: 0; }
  @media (max-width: 740px) {
    body#pagetop {
      font-family: "-apple-system", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Yu Gothic", YuGothic, Meiryo, メイリオ, sans-serif; } }
  @media (-ms-high-contrast: none) {
    body#pagetop {
      font-family: Arial, Meiryo, メイリオ, sans-serif; } }

a {
  text-decoration: none !important; }
  a:hover {
    text-decoration: none !important; }
  a img {
    border: 0; }

.recruitInfo {
  display: none; }

div#container {
  background: #fff;
  transition: all 0.3s ease-in-out;
  /* for OffCanvas Nav*/
  width: inherit;
  overflow: hidden; }

#headContent {
  margin: 0; }

@media (max-width: 900px) {
  #main .content {
    margin-left: 0;
    margin-right: 0; } }

#bottomContent {
  background: #fff;
  margin: 0 auto;
  max-width: 960px;
  padding: 0 0 40px;
  width: 90%; }
  #bottomContent a {
    color: #333; }
    #bottomContent a:active, #bottomContent a:link, #bottomContent a:visited {
      color: #333 !important;
      text-decoration: none !important; }
  @media (max-width: 740px) {
    #bottomContent {
      padding: 0 0 20px; } }

#areaLink div.area table {
  margin: 0; }
  @media (max-width: 740px) {
    #areaLink div.area table {
      margin: 0 auto; } }

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 960px;
  width: 95%; }
  .row:after {
    content: none; }
  .row--child {
    width: 100%; }
  .row--center {
    justify-content: center; }
  .row--right {
    justify-content: flex-end; }
  .row--between {
    justify-content: space-between; }
  .row--around {
    justify-content: space-around; }
  .row--middle {
    align-items: center; }
  .row--bottom {
    align-items: flex-end; }

.col-pc-12 {
  margin: 0 0 25px;
  width: 100%; }

.col-pc-11 {
  margin: 0 25px 25px 0;
  width: calc((100% / 12 * 11)); }

.col-pc-6 {
  margin: 0 25px 25px 0;
  width: calc((100% - 25px) / 2); }
  @media (-ms-high-contrast: none) {
    .col-pc-6 {
      width: calc((100% - 25.2px) / 2); } }
  @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
    .col-pc-6 {
      width: calc((100% - 26.2px) / 2); } }
  .col-pc-6:nth-of-type(2n) {
    margin: 0 0 25px; }

.col-pc-4 {
  margin: 0 25px 25px 0;
  width: calc((100% - 25px * 2 ) / 3); }
  @media (-ms-high-contrast: none) {
    .col-pc-4 {
      width: calc((100% - 50.2px) / 3); } }
  @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
    .col-pc-4 {
      width: calc((100% - 51.2px) / 3); } }
  .col-pc-4:nth-of-type(3n) {
    margin: 0 0 25px; }

.col-pc-3 {
  margin: 0 25px 25px 0;
  width: calc((100% - 25px * 3) / 4); }
  @media (-ms-high-contrast: none) {
    .col-pc-3 {
      width: calc((100% - 75.2px) / 4); } }
  @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
    .col-pc-3 {
      width: calc((100% - 76.2px) / 4); } }
  .col-pc-3:nth-of-type(4n) {
    margin: 0 0 25px; }

.col-pc-2 {
  margin: 0 25px 25px 0;
  width: calc((100% - 25px * 5) / 6); }
  @media (-ms-high-contrast: none) {
    .col-pc-2 {
      width: calc((100% - 25px * 5 + 0.2) / 6); } }
  @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
    .col-pc-2 {
      width: calc((100% - 126.2px) / 6); } }
  .col-pc-2:nth-of-type(6n) {
    margin: 0 0 25px; }

.col-pc-last {
  margin: 0 0 25px; }

@media (max-width: 900px) {
  .col-tb-12 {
    margin: 0 0 25px;
    width: 100%; }
  .col-tb-6 {
    margin: 0 25px 25px 0;
    width: calc((100% - 25px) / 2); } }
  @media (max-width: 900px) and (-ms-high-contrast: none) {
    .col-tb-6 {
      width: calc((100% - 25.2px) / 2); } }

@media (max-width: 900px) {
    @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
      .col-tb-6 {
        width: calc((100% - 26.2px) / 2); } }
    .col-tb-6:nth-of-type(2n) {
      margin: 0 0 25px; } }

@media (max-width: 740px) {
  .col-sp-12 {
    margin: 0 0 10px !important;
    width: 100%; }
  .col-sp-6 {
    margin: 0 10px 10px 0 !important;
    width: calc((100% - 10px) / 2); } }
  @media (max-width: 740px) and (-ms-high-contrast: none) {
    .col-sp-6 {
      width: calc((100% - 10.2px) / 2); } }

@media (max-width: 740px) {
    @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
      .col-sp-6 {
        width: calc((100% - 11.2px) / 2); } }
    .col-sp-6:nth-of-type(2n) {
      margin: 0 0 10px !important; }
  .col-sp-4 {
    margin: 0 10px 10px 0 !important;
    width: calc((100% - 10px * 2 ) / 3); } }
  @media (max-width: 740px) and (-ms-high-contrast: none) {
    .col-sp-4 {
      width: calc((100% - 10px * 2 + 0.2) / 3); } }

@media (max-width: 740px) {
    @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
      .col-sp-4 {
        width: calc((100% - 10px * 2 + 1) / 3); } }
    .col-sp-4:nth-of-type(3n) {
      margin: 0 0 10px !important; }
  .col-sp-3 {
    margin: 0 10px 10px 0;
    width: calc((100% - 10px * 3) / 4); } }
  @media (max-width: 740px) and (-ms-high-contrast: none) {
    .col-sp-3 {
      width: calc((100% - 10px * 3 + 0.2) / 4); } }

@media (max-width: 740px) {
    @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
      .col-sp-3 {
        width: calc((100% - 10px * 3 + 1) / 4); } }
    .col-sp-3:nth-of-type(4n) {
      margin: 0 0 10px; } }

.newLine {
  display: block; }

.newLinePC {
  display: block; }
  @media (max-width: 900px) {
    .newLinePC {
      display: inline; } }

.newLinePC-TB {
  display: block; }
  @media (max-width: 900px) {
    .newLinePC-TB {
      display: block; } }
  @media (max-width: 740px) {
    .newLinePC-TB {
      display: inline; } }

.newLineTB {
  display: inline; }
  @media (max-width: 900px) {
    .newLineTB {
      display: block; } }
  @media (max-width: 740px) {
    .newLineTB {
      display: inline; } }

.newLineTB-SP {
  display: inline; }
  @media (max-width: 900px) {
    .newLineTB-SP {
      display: block; } }
  @media (max-width: 740px) {
    .newLineTB-SP {
      display: block; } }

.newLineSP {
  display: inline; }
  @media (max-width: 900px) {
    .newLineSP {
      display: inline; } }
  @media (max-width: 740px) {
    .newLineSP {
      display: block; } }

.pc {
  display: block !important; }
  @media (max-width: 900px) {
    .pc {
      display: none !important; } }

.tab {
  display: none !important; }
  @media (max-width: 740px) {
    .tab {
      display: none !important; } }

.pc-tab {
  display: block !important; }
  @media (max-width: 740px) {
    .pc-tab {
      display: none !important; } }

.tab-sp {
  display: none !important; }
  @media (max-width: 900px) {
    .tab-sp {
      display: block !important; } }

.sp {
  display: none !important; }
  @media (max-width: 740px) {
    .sp {
      display: block !important; } }

.text-center {
  text-align: center; }

.headingColour {
  color: #3b499f; }

.box {
  margin: auto;
  padding: 0;
  max-width: 960px;
  width: 95%; }
  @media (-webkit-device-pixel-ratio: 3) {
    .box {
      padding: 0 constant(safe-area-inset-right) 0 constant(safe-area-inset-left);
      padding: 0 env(safe-area-inset-right) 0 calc(env(safe-area-inset-left)); } }
  @media (max-width: 740px) {
    .box {
      padding: 0;
      width: 100%; } }
  .box__img {
    margin: 20px auto 0; }
    .box__img img {
      width: 100%; }
    @media (max-width: 740px) {
      .box__img {
        margin: 10px auto 0; } }
  @media (max-width: 740px) {
    .box__link {
      margin: 30px auto;
      width: 95%; } }

.mb20 {
  margin-bottom: 20px; }
  @media (max-width: 740px) {
    .mb20 {
      margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map*/