@charset "utf-8";
/*****************************************
	app.css
	基本スタイルを上書きするデザイン用css
	テーマ：デフォルトテーマ
******************************************/

/*******************************
 画面：全体
*******************************/

/* 画面のベース背景色 */
body {
	color: #232323;
    font-family: "Meiryo",sans-serif;
}

/* テキストリンク */
a:link, a:active
{
	color: #333333  !important;
	text-decoration: none !important;
}

a:visited {
	color: #333333 !important;
	text-decoration: none !important;
}

a:hover {
	color: #999999 !important;
	text-decoration: underline !important;
}

/* ブラウザで範囲選択した際の反転色 */
::-moz-selection{
	background: #3B4A9F !important;
	color:#ffffff !important;
}
::selection {
	background: #3B4A9F !important;
	color:#ffffff !important;
}

/*******************************
 ヘッダー
*******************************/

/* 固定ヘッダ色 */
#header .content div.regular
{
	background-color:#ffffff;
	color:#232323;
}

/* 固定ヘッダ ロゴ開始位置 */
#header .content div.regular div.logo
{
	padding-top:10px;
	padding-left:10px;
}

/* 固定ヘッダ フリーメッセージ位置 */
#header .content div.regular .note
{
	bottom:5px;
	right:10px;
}

/*******************************
 フッター
*******************************/
#footer .content .regular
{
	/* 固定フッタ */
	height:100px;
}

/* 固定フッタ 色 */
#footer .content .regular
{
	color: #232323  !important;
	background-color:#ffffff  !important;
	text-decoration: none  !important;
}

#footer .content .regular a:link,#footer .content .regular a:active
{
	color: #ffffff  !important;
	text-decoration: none  !important;
}

#footer .content .regular a:visited {
	color: #ffffff  !important;
	text-decoration: none  !important;
}

#footer .content .regular a:hover {
	color: #ffffff  !important;
	text-decoration: none  !important;
}

/********************************************
 画面：採用トップページ
********************************************/

/* フリーワード検索フォームのデザイン */
#mainContent div.freeWordObj
{
	border:solid 1px #cccccc  !important;
	background-color:#EFFAFF  !important;
}
/********************************************
 画面：検索トップページ
********************************************/

/* 検索条件の枠1 */
#mainContent div.searchObj div.searchbox
{
	border: solid 1px #CBCBCD !important;
}

/* 検索条件の枠2 */
#mainContent div.searchObj div.searchbox
{
	background-color: #EDEDF0 !important;
}

/* 検索条件の枠3 */
#mainContent div.searchObj div.searchbox p.lead,
#mainContent div.searchObj div.searchbox div.lead
{
	border: solid 1px #CBCBCD !important;
}
#mainContent div.searchObj div.searchbox div.form
{
	border: solid 1px #CBCBCD !important;
}

/* サブタイトル色 */
#mainContent div.searchObj div.searchbox div.form strong
{
	color: #3B4A9F  !important;
}
#mainContent div.searchObj div.searchbox div.lead strong
{
	color: #3B4A9F !important;
}

/* エリアから探すプルダウン */
#mainContent div.searchObj div.searchbox div.form select
{
	border: solid 1px #000000 !important;
	padding:3px !important;
}

/* エリアから探す プルダウン選択部 背景 */
#mainContent div.searchObj div.searchbox div.form
{
	background-color: #EFFAFF  !important;
}

/* エリアから探す 説明部 背景 */
#mainContent div.searchObj div.searchbox p.lead,
#mainContent div.searchObj div.searchbox div.lead
{
	background-color: #ffffff  !important;
}
/********************************************
 画面：採用トップページ・検索トップページ
 上記画面で共通のサイドコンテンツ関連
********************************************/
/* サイドコンテンツ QRコード部 */
#sideContent div.mobileObj
{
	border:1px #cccccc solid  !important;
	background-color:#ffffff  !important;
}
/* サイドコンテンツ */
#sideContent div.sideBox
{
	border:1px #cccccc solid  !important;
	background-color:#ffffff  !important;
}

/********************************************
 画面：一覧
********************************************/
/* 検索結果 タイトル */
h1.list
{
	border-left: solid 6px #3B4A9F  !important;
}

/* 検索条件エリアの枠1 */
#listContent div.searchpanelObj {
	border: solid 1px #dddddd !important;
}
/* 検索条件エリアの枠2 */
#listContent div.searchpanelObj {
	background-color: #e6e6e6 !important;
}
/* 検索条件エリアの枠3 */
#listContent div.searchpanelObj div.tablebox {
	/* 検索条件 枠 */
	border: solid 1px #d2d2d2 !important;
}

/* 検索条件エリア 項目タイトル */
#listContent div.searchpanelObj div.tablebox table th {
	/* ハイライト */
	border-top: solid 1px #ffffff !important;
	/* 縦ライン */
	border-right: solid 1px #d2d2d2 !important;
	/* シャドウ */
	border-bottom: solid 1px #d2d2d2 !important;
	/* 背景色 */
	background-color: #eeeeee !important;
	/* 文字色 */
	color: #000000 !important;
}
/* 検索条件エリア 項目 */
#listContent div.searchpanelObj div.tablebox table td {
	/* シャドウ */
	border-bottom: solid 1px #d2d2d2 !important;
	/* 背景色 */
	background-color: #ffffff !important;
	/* 注釈・コメント・サブタイトル等 文字色 */
	color: #999999 !important;
}
#listContent div.searchpanelObj div.tablebox table td b strong {
	/* 検索条件 選択中 背景色 */
	background:#EFFAFF !important;
}
#listContent div.searchpanelObj div.tablebox select {
	/* 検索条件 プルダウン */
	border: solid 1px #999999  !important;
	padding:3px !important;
}

/* 検索結果 件数 文字色 */
#listContent div.listObj div.pagehead span {
	color: #3B4A9F  !important;
}
/* 検索結果 件数 下線 */
#listContent div.listObj div.pagehead {
	border-bottom: 3px solid #CBCBCD !important;
}

/* 検索結果の枠1 */
#listContent div.listObj div.listbox {
	border: solid 1px #CBCBCD !important;
}
/* 検索結果の枠2 */
#listContent div.listObj div.listbox {
	background-color: #EDEDF0 !important;
}
/* 検索結果の枠3 */
#listContent div.listObj div.listbox div.box {
	border: solid 1px #CBCBCD!important;
}
/* 検索結果 背景 */
#listContent div.listObj div.listbox div.box {
	background-color: #ffffff !important;
}

/* 検索結果 強調文字 */
#listContent div.listObj div.listbox div.box p.salery strong {
	color: #3B4A9F !important;
}


/********************************************
 画面：詳細
********************************************/

#detailContent dl.workTime dt{
	/* 時間帯 タイトル 色*/
	color:#000000 !important;
}

#detailContent dl.workTime dd
{
	/* 時間帯 値 色*/
	color:#000000 !important;
}

#detailContent p.merit
{
	/* メリット 区切り線 色*/
	color:#3B4A9F !important;
}
#detailContent p.merit span
{
	/* メリット 文字*/
	color:#3B4A9F !important;
}

#detailContent h2.detailTitle {
	/* タイトル部 背景 */
    background:#3B4A9F !important;
	/* タイトル部 色 */
    color:#ffffff !important;
}
#detailContent dl.descriptions dt span {
	/* 仕事情報 マーク 色 */
	color:#3B4A9F !important;
}

/********************************************
 画面：応募フォーム
********************************************/

#formContent h1.title
{
	/* タイトル部 背景 */
	background:#3B4A9F !important;
	/* タイトル部 色 */
	color:#ffffff !important;
}
#formContent h2.subTitle
{
	/* サブタイトル部 色 */
	color:#333333 !important;
	/* サブタイトル部 下線 */
	border-bottom:1px solid #999999 !important;
}

#formContent div#mainContent div.formObj h3.caution em{
	/* 必須項目 説明部 色 */
    color:#3B4A9F !important;
}

#formContent div#mainContent div.formObj table {
	/* 応募フォーム 枠 色 */
	border-left:1px solid #999999 !important;
	border-top:1px solid #999999 !important;
}
#formContent div#mainContent div.formObj table th{
	/* 応募フォーム 枠 色 */
	border-right:1px solid #999999 !important;
	border-bottom:1px solid #999999 !important;
	/* 応募フォーム タイトル部 背景 */
	background-color:#fefae1 !important;
	/* 応募フォーム タイトル部 文字色 */
	color:#000000 !important;
}
#formContent div#mainContent div.formObj table td{
	/* 応募フォーム 枠 色 */
	border-right:1px solid #999999 !important;
	border-bottom:1px solid #999999 !important;
	/* 応募フォーム フォーム部 背景 */
	background-color:#efecdd !important;
}

#formContent div#mainContent div.formObj table td ul.note li{
	/* 応募フォーム フォーム備考 文字色 */
	color:#666666 !important;
}
#formContent div#mainContent div.formObj table td ul.note li p{
	/* 応募フォーム フォーム備考 文字色 */
	color:#666666 !important;
}

#formContent div#mainContent div.actionObj input{
	/* 応募フォーム ボタン */
	background-color:#3B4A9F !important;
	border:solid 1px #3B4A9F !important;
	color:#ffffff !important;
}

#formContent div#sideContent div.infoObj
{
	/* 応募フォーム 仕事情報エリア 枠 */
	border:1px solid #999999 !important;
}
#formContent div#sideContent div.infoObj div.job
{
	/* 応募フォーム 仕事情報エリア 案件情報 */
	border:1px solid #999999 !important;
	background-color:#f0f0f0 !important;
}
#formContent div#sideContent div.infoObj div.apply
{
	/* 応募フォーム 仕事情報エリア 応募方法 */
	border-left:1px solid #999999 !important;
	border-right:1px solid #999999 !important;
	border-bottom:1px solid #999999 !important;
	background-color:#ffffff !important;
}
#formContent div#mainContent .privacy ul li.k_first{
	border-right:1px solid #cccccc !important;
}

/********************************************
 その他画像指定のcss
   → 基本的に修正は不要
********************************************/
#headContent div.form{
	background:url(../images/bg_title.png) no-repeat center;
}
#mainContent div.searchObj div.searchbox div.lead p.pack {
	background: url(../images/dot2.gif) repeat-x left bottom;
}
#sideContent div.sideBox ul.link li a {
	background: url(../images/arw.gif) no-repeat left 48%;
}
#listContent div.searchpanelObj div.tablebox table td ul li {
	background: url(../images/lin_select.gif) no-repeat right 48%;
}
#listContent div.listObj div.listbox div.box div.heading {
	background: url(../images/dot2.gif) repeat-x left bottom;
}
#detailContent #actionArea
{
	background:url(../images/k_c_bh.png) repeat-x 0 0;
}
#detailContent dl.descriptions dd{
	background:url(../images/k_c_bg_dotline.png) repeat-x left bottom;
}
#detailContent p.descriptions{
	background:url(../images/k_c_bg_dotline.png) repeat-x left bottom;
}

#formContent div.entryFlow ul.entryFlowObj li{
	background:url(../images/k_tu_ic.png) no-repeat -125px 0;
}

/******* map *******/
#mapObj div.area {
	background: url(../images/map.gif) no-repeat left top;
}
/* 北海道・東北 */
#mapObj div.area ul li.a1 {
	background: url(../images/nav_tohoku_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a1-dead {
	background: url(../images/map_tohoku_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a1 p a,
#mapObj div.area ul li.a1-dead p,
#mapObj div.area ul li.a1 ul li,
#mapObj div.area ul li.a1 ul li a {
	background: url(../images/nav_tohoku.gif) no-repeat;
}

/* 関東 */
#mapObj div.area ul li.a2 {
	background: url(../images/nav_kanto_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a2-dead {
	background: url(../images/map_kanto_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a2 p a,
#mapObj div.area ul li.a2-dead p,
#mapObj div.area ul li.a2 ul li,
#mapObj div.area ul li.a2 ul li a {
	background: url(../images/nav_kanto.gif) no-repeat;
}

/* 北信越・北陸 */
#mapObj div.area ul li.a3 {
	background: url(../images/nav_hokushinetsu_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a3-dead {
	background: url(../images/map_hokushinetsu_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a3 p a,
#mapObj div.area ul li.a3-dead p,
#mapObj div.area ul li.a3 ul li,
#mapObj div.area ul li.a3 ul li a {
	background: url(../images/nav_hokushinetsu.gif) no-repeat;
}

/* 東海 */
#mapObj div.area ul li.a4 {
	background: url(../images/nav_tokai_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a4-dead {
	background: url(../images/map_tokai_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a4 p a,
#mapObj div.area ul li.a4-dead p,
#mapObj div.area ul li.a4 ul li,
#mapObj div.area ul li.a4 ul li a {
	background: url(../images/nav_tokai.gif) no-repeat;
}

/* 関西 */
#mapObj div.area ul li.a5 {
	background: url(../images/nav_kansai_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a5-dead {
	background: url(../images/map_kansai_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a5 p a,
#mapObj div.area ul li.a5-dead p,
#mapObj div.area ul li.a5 ul li,
#mapObj div.area ul li.a5 ul li a {
	background: url(../images/nav_kansai.gif) no-repeat;
}

/* 中国・四国 */
#mapObj div.area ul li.a6 {
	background: url(../images/nav_chugoku_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a6-dead {
	background: url(../images/map_chugoku_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a6 p a,
#mapObj div.area ul li.a6-dead p,
#mapObj div.area ul li.a6 ul li,
#mapObj div.area ul li.a6 ul li a {
	background: url(../images/nav_chugoku.gif) no-repeat;
}

/* 九州・沖縄 */
#mapObj div.area ul li.a7 {
	background: url(../images/nav_kyushu_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a7-dead {
	background: url(../images/map_kyushu_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a7 p a,
#mapObj div.area ul li.a7-dead p,
#mapObj div.area ul li.a7 ul li,
#mapObj div.area ul li.a7 ul li a {
	background: url(../images/nav_kyushu.gif) no-repeat;
}
#mapObj div.area {
	background: url(../images/map.gif) no-repeat left top;
}
/* kCEk */
#mapObj div.area ul li.a1 {
	background: url(../images/nav_tohoku_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a1-dead {
	background: url(../images/map_tohoku_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a1 p a,
#mapObj div.area ul li.a1-dead p,
#mapObj div.area ul li.a1 ul li,
#mapObj div.area ul li.a1 ul li a {
	background: url(../images/nav_tohoku.gif) no-repeat;
}
/* ・ */
#mapObj div.area ul li.a2 {
	background: url(../images/nav_kanto_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a2-dead {
	background: url(../images/map_kanto_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a2 p a,
#mapObj div.area ul li.a2-dead p,
#mapObj div.area ul li.a2 ul li,
#mapObj div.area ul li.a2 ul li a {
	background: url(../images/nav_kanto.gif) no-repeat;
}

/* kMzEk */
#mapObj div.area ul li.a3 {
background: url(../images/nav_hokushinetsu_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a3-dead {
	background: url(../images/map_hokushinetsu_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a3 p a,
#mapObj div.area ul li.a3-dead p,
#mapObj div.area ul li.a3 ul li,
#mapObj div.area ul li.a3 ul li a {
	background: url(../images/nav_hokushinetsu.gif) no-repeat;
}
/* C */
#mapObj div.area ul li.a4 {
	background: url(../images/nav_tokai_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a4-dead {
	background: url(../images/map_tokai_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a4 p a,
#mapObj div.area ul li.a4-dead p,
#mapObj div.area ul li.a4 ul li,
#mapObj div.area ul li.a4 ul li a {
	background: url(../images/nav_tokai.gif) no-repeat;
}

/* ・ */
#mapObj div.area ul li.a5 {
	background: url(../images/nav_kansai_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a5-dead {
	background: url(../images/map_kansai_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a5 p a,
#mapObj div.area ul li.a5-dead p,
#mapObj div.area ul li.a5 ul li,
#mapObj div.area ul li.a5 ul li a {
	background: url(../images/nav_kansai.gif) no-repeat;
}
/* El */
#mapObj div.area ul li.a6 {
	background: url(../images/nav_chugoku_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a6-dead {
	background: url(../images/map_chugoku_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a6 p a,
#mapObj div.area ul li.a6-dead p,
#mapObj div.area ul li.a6 ul li,
#mapObj div.area ul li.a6 ul li a {
	background: url(../images/nav_chugoku.gif) no-repeat;
}

/* BE */
#mapObj div.area ul li.a7 {
	background: url(../images/nav_kyushu_line.gif) no-repeat left top;
}
#mapObj div.area ul li.a7-dead {
	background: url(../images/map_kyushu_dead.gif) no-repeat left top;
}
#mapObj div.area ul li.a7 p a,
#mapObj div.area ul li.a7-dead p,
#mapObj div.area ul li.a7 ul li,
#mapObj div.area ul li.a7 ul li a {
	background: url(../images/nav_kyushu.gif) no-repeat;
}
