@charset "utf-8";

#areaLink {
}

#areaLink div.area {
}

#areaLink div.area tr.a1-dead *,
#areaLink div.area tr.a2-dead *,
#areaLink div.area tr.a3-dead *,
#areaLink div.area tr.a4-dead *,
#areaLink div.area tr.a5-dead *,
#areaLink div.area tr.a6-dead *,
#areaLink div.area tr.a7-dead * {
  display: none;
}

#areaLink div.area ul li.k1-dead,
#areaLink div.area ul li.k2-dead,
#areaLink div.area ul li.k3-dead,
#areaLink div.area ul li.k4-dead,
#areaLink div.area ul li.k5-dead,
#areaLink div.area ul li.k6-dead,
#areaLink div.area ul li.k7-dead,
#areaLink div.area ul li.k8-dead,
#areaLink div.area ul li.k9-dead {
  display: none;
}

#areaLink div.area ul li {
  display: inline;
  margin: 0 2px;
}

#areaLink div.area ul li a {
  font-size: 12px;
}

#areaLink div.area table{
  margin: 0 20px 20px 0;
}

#areaLink div.area table tr th,
#areaLink div.area table tr td {
  padding: 0px 10px;
}

#areaLink div.area table,
#areaLink div.area table tr,
#areaLink div.area table tr th,
#areaLink div.area table tr td {
  border:1px #A5A5A5 solid;
  border-collapse: collapse;
}

#areaLink div.area table tr th a {
  font-size: 12px;
}
