@charset "utf-8";
/*****************************************
	style.css
	各コンテンツごとの基本スタイルを記述

	目次
		１．コンテンツのマージン指定
		２．ヘッドコンテンツ
		３．メインコンテンツ
		４．サイドコンテンツ
		５．一覧
		６．詳細
		７．ボトムコンテンツ
******************************************/


/******************************
  コンテンツのマージン指定
/******************************/
#headContent .pankuzuObj
{
	margin-left:20px;
	margin-right:20px;
}
#listContent,#detailContent,#formContent
{
	margin-left:20px;
	margin-right:20px;
}
#mainContent
{
	margin-left:20px;
}
#sideContent
{
	margin-right:20px;
}
#bottomContent #social
{
	margin-left:20px;
	margin-right:20px;
}
/******************************
  ヘッドコンテンツ
/******************************/
#headContent
{
	margin-bottom:15px;
}
/* パンくず */
#headContent div.pankuzuObj {
	overflow: hidden;
	height: auto;
	clear: both;
	font-size: 10px;
	padding:5px;
}

#headContent div.pankuzuObj ul li {
	float: left;
	padding-right: 5px;
	word-break: break-all;
    word-wrap: break-word;
}

#headContent div.pankuzuObj ul li.top {
	background: none;
	padding-left: 0;
}

#headContent div.pankuzuObj ul li a {
	margin-right: 5px;
}

/* 水平リンク */
div.flatlink {
    text-align:right ;
    font-size: 12px;
    padding-right:5px;
    word-break: break-all;
    word-wrap: break-word;
}

#headContent div.recruitInfo img{
	display:block;
	margin:auto;
	padding-top:10px;
}
#headContent div.form{
	font-weight: bold;
	position: relative;
	padding-left:35px;
	height:41px;
	font-size: 18px;
	color:#ffffff;
}
#headContent div.form p{
	position: absolute;
	top: 50%;
	line-height: 2;
	margin-top: -1.0em;
}

/******************************
  メインコンテンツ
/******************************/
#mainContent {
	float: left;
	width: 535px;
}

/* フリーワード検索 */
#mainContent div.freeWordObj
{
	font-size:12px;
	height:25px;
	border:solid 1px #CCCCCC;
	padding:5px;
	background-color:#f4f9ff;
	margin-bottom:5px;
}
#mainContent div.freeWordObj div.freeWordInput
{
	float:left;
	margin-left:10px;
}
#mainContent div.freeWordObj div.freeWordInput #freeword
{
	height:20px;
	vertical-align:middle;
    font-family: MS gothic;
}
#mainContent div.freeWordObj div.freeWordButton #freewordsearch
{
	vertical-align:middle;
	margin-right:10px;
}

#mainContent div.freeWordObj div.freeWordButton
{
	float:right;
}

/* 検索トップページ */
#mainContent div.searchObj {
	margin-bottom: 36px;
}
#mainContent div.searchObj h2 {
	margin-bottom: 9px;
	padding-top: 21px;
}
#mainContent div.searchObj h2.top-h2 {
	padding-top: 0;
}
#mainContent div.searchObj div.searchbox {
	border: solid 1px #ccddf5;
	background-color: #ddeeff;
	padding: 2px;
}
#mainContent div.searchObj div.searchbox p.lead,
#mainContent div.searchObj div.searchbox div.lead {
	position: relative;
	z-index: 1;
	border: solid 1px #bbd2f5;
	background-color: #fff;
	padding: 7px 12px 6px 12px;
}
#mainContent div.searchObj div.searchbox div.lead p.pack {
	margin-bottom: 7px;
	padding-bottom: 7px;
}
#mainContent div.searchObj div.searchbox div.lead p.bottom-pack {
}
#mainContent div.searchObj div.searchbox div.lead strong {
	color: #664433;
	font-weight: bold;
}
#mainContent div.searchObj div.searchbox div.form {
	position: relative;
	z-index: 2;
	margin-top: -1px;
	border: solid 1px #bbd2f5;
	background-color: #eef6ff;
	padding: 11px 12px 11px 12px;
}
#mainContent div.searchObj div.searchbox div.form p.p1,
#mainContent div.searchObj div.searchbox div.form p.p2 {
	float: left;
	width: auto;
	margin-right: 12px;
}
#mainContent div.searchObj div.searchbox div.form p.p3 {
	clear:left;
	width: auto;
	padding:10px 0 0 200px;
}
#mainContent div.searchObj div.searchbox div.form strong {
	float: left;
	width: auto;
	margin-right: 8px;
	padding-top: 1px;
	color: #664433;
	font-weight: bold;
	display: block;
}
#mainContent div.searchObj div.searchbox div.form select {
	float: left;
	border: solid 1px #eece96;
	padding: 0 0 0 2px;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	display: block;
}
#mainContent div.searchObj div.searchbox div.form input.imgover {
	display: block;
}

/******************************
  サイドコンテンツ
/******************************/
#sideContent {
	float: right;
	width: 165px;
	text-align:center;
}
#sideContent .free {
}
#sideContent .regular {
	zoom:0;
}

#sideContent div.mobileObj {
	position: relative;
	margin-bottom:15px;
	padding: 14px 12px 10px 12px;
	border: solid 1px #ccc;
}

#sideContent div.mobileObj h3 {
	margin-bottom: 15px;
}

#sideContent div.mobileObj p.qrcode {
	margin-bottom: 6px;
	text-align: center;
}

#sideContent div.mobileObj p.qrcode img {
	margin: 0 auto;
	display: inline;
}

#sideContent div.mobileObj p.lead {
	width: 130px;
	text-align: left;
	font-size: 10px;
	/*\*/
	*font-size: 75%;
	/**/
	line-height: 14px;
	overflow: hidden;
}

#sideContent div.sideBox {
	border:1px #CCCCCC solid;
	margin-bottom:15px;
	padding:10px;
	text-align:center;
}

#sideContent div.sideBox .center {
	text-align:center;
}

#sideContent div.sideBox .left {
	text-align:left;
}

#sideContent div.sideBox ul {
	position: relative;
	margin-bottom: -2px;
}

#sideContent div.sideBox ul li {
	margin-bottom: 2px;
}

#sideContent div.sideBox p.lead {
	width: 130px;
	text-align:left;
	font-size: 10px;
	/*\*/
	*font-size: 75%;
	/**/
	line-height: 14px;
	overflow: hidden;
}

#sideContent div.sideBox ul.link li a {
	padding-left: 8px;
	font-size: 10px;
	/*\*/
	*font-size: 75%;
	/**/
	display: block;
}

/******************************
  一覧
/******************************/
h1.list {
    margin-left: 20px;
    margin-bottom: 15px;
	border-left: solid 6px #77bbff;
    padding-left: 9px;
    font-size: 16px;
    /*\*/
    *font-size: 133%;
    /**/
    line-height: 1;
    display: block;
}
#listContent div.searchpanelObj {
	margin-bottom: 10px;
	border: solid 1px #dddddd;
	background-color: #e6e6e6;
	padding: 1px;
}
#listContent div.searchpanelObj div.tablebox {
	border: solid 1px #d2d2d2;
	border-bottom: none;
}
#listContent div.searchpanelObj div.tablebox table th {
	padding: 6px 12px 5px 12px;
	border-top: solid 1px #ffffff;
	border-right: solid 1px #d2d2d2;
	border-bottom: solid 1px #d2d2d2;
	background-color: #eeeeee;
	white-space: nowrap;
	font-weight: bold;
	vertical-align: top;
	text-align:left;
}
#listContent div.searchpanelObj div.tablebox table td {
	padding: 7px 12px 5px 12px;
	width: 99%;
	border-bottom: solid 1px #d2d2d2;
	background-color: #ffffff;
	color: #999999;
	vertical-align: top;
}
#listContent div.searchpanelObj div.tablebox table td ul {
	display: block;
}
#listContent div.searchpanelObj div.tablebox table td #freeword {
	vertical-align: middle;
}
#listContent div.searchpanelObj div.tablebox table td #freewordsearch {
	vertical-align: middle;
}

#listContent div.searchpanelObj div.tablebox table td ul li {
	float: left;
	width: auto;
	margin-right: 8px;
	margin-bottom: 1px;
	padding-right: 8px;
	line-height: 19px;
	height: 19px;
	display: block;
	white-space: nowrap;
}
#listContent div.searchpanelObj div.tablebox table td a {
}
#listContent div.searchpanelObj div.tablebox table td b {
	float: left;
	width: auto;
	padding: 0;
	display: block;
}
#listContent div.searchpanelObj div.tablebox table td b strong {
	float: left;
	width: auto;
	background:#ddeeff;
	margin: 0;
	padding: 0 5px;
	font-weight: bold;
	color: #000;
	display: block;
}

#listContent div.searchpanelObj div.tablebox table td div.form {
	padding-bottom: 1px;
}
#listContent div.searchpanelObj div.tablebox table td p.p1,
#listContent div.searchpanelObj div.tablebox table td p.p2 {
	float: left;
	width: auto;
	margin-right: 12px;
}
#listContent div.searchpanelObj div.tablebox table td div.form strong {
	float: left;
	width: auto;
	margin: 0 8px 0 0;
	padding: 1px 0 0 0;
	color: #000;
	font-weight: bold;
	display: block;
}
#listContent div.searchpanelObj div.tablebox table td div.form select {
	float: left;
	border: solid 1px #ccc;
	padding: 0 0 0 2px;
	height: 23px;
	line-height: 23px;
	vertical-align: middle;
	display: block;
}

#listContent ul.mailmagButton {
	margin-bottom: 6px;
}
#listContent ul.mailmagButton li {
	float: right;
	width: auto;
}

#listContent div.listObj {
}
#listContent div.listObj div.pagehead {
	padding-bottom: 7px;
	margin-bottom: 15px;
	border-bottom: solid 3px #77bbff;
	font-weight: bold;
	line-height: 1;
}
#listContent div.listObj div.pagehead span {
	color: #5599ef;
}
#listContent div.listObj div.pagehead strong {
	font-size: 24px;
	/*\*/
	*font-size: 200%;
	/**/
}

#listContent div.listObj div.listbox {
	border: solid 1px #ccddf5;
	background-color: #ddeeff;
	padding: 2px 2px 3px 2px;
	margin-bottom: 15px;
}
#listContent div.listObj div.listbox div.box {
	border: solid 1px #bbd2f5;
	background-color: #fff;
	padding: 12px 12px 6px 12px;
	margin-bottom: 0px;
}
#listContent div.listObj div.listbox div.box div.heading {
	padding-bottom: 7px;
	margin-bottom: 7px;
}
#listContent div.listObj div.listbox div.box div.heading h3 {
	float: left;
	width: auto;
	line-height:130%;
	font-size: 18px;
	/*\*/
	*font-size: 148%;
	/**/
	font-weight: bold;
    word-break: break-all;
    word-wrap: break-word;
}
#listContent div.listObj div.listbox div.box div.heading .txt {
	clear:both;
}
#listContent div.listObj div.listbox div.box div.heading ul {
	float: right;
	width: auto;
}
#listContent div.listObj div.listbox div.box div.heading ul li {
	float: left;
	width: auto;
}
#listContent div.listObj div.listbox div.box div.heading ul li.l1 {
	margin-right: 6px;
}
#listContent div.listObj div.listbox div.box p.salery {
}
#listContent div.listObj div.listbox div.box p.salery strong {
	font-weight: bold;
	color: #444444;
}

#listContent div.listObj div.listbox p.note {
	float: left;
	width: auto;
	padding-left: 8px;
	color: #444444;
	font-size: 10px;
	/*\*/
	*font-size: 75%;
	/**/
	line-height: 1.5;
}
#listContent div.listObj div.listbox p.area {
	float: right;
	width: auto;
	padding-right: 8px;
	color: #444444;
	font-size: 10px;
	/*\*/
	*font-size: 75%;
	/**/
	line-height: 1.3;
}
#listContent div.actionObj
{
	text-align:center;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}

#listContent div.actionObj input{
	background-color:#77bbff;
	border:solid 1px #0066cc;
	padding:7px 10px;
	color:white;
	font-weight:bold;
}

/******************************
  詳細
/******************************/

#detailContent div.title
{
	margin-top:5px;
	word-break: break-all;
	word-wrap: break-word;
}
#detailContent div.title h2
{
	font-weight:700;
	font-size:134%;
	line-height:1.2;
}
#detailContent div.jobTypeViewName{}
#detailContent table.dataSummaryTable
{
	margin-top:5;
	width:100%;
	border-left:1px solid #999;
	border-top:1px solid #999
}
#detailContent table.dataSummaryTable th, #detailContent table.dataSummaryTable td
{
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
#detailContent table.dataSummaryTable th
{
	width:7%;
	font-size:84%;
	font-weight:700;
	background-color:#dcdcdc;
	line-height:1.4;
	text-align:center;
	vertical-align:middle;
}
#detailContent table.dataSummaryTable td
{
	width:43%;
	line-height:1.4;
	padding:3px
}
#detailContent table.dataSummaryTable div.recop-joboffer-income
{
	word-break:break-all;
}
#detailContent dl.workTime
{
	margin-right:10px;
}
#detailContent dl.workTime dt{
	font-weight:700;
	float:left;
}

#detailContent dl.workTime dd
{
	margin-right:10px;
}

#detailContent dl.workTime:after{
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

#detailContent p.merit
{
	margin-top:3px;
	border-bottom:1px solid #999999;
	color:#999999;
}
#detailContent p.merit span
{
	color:#B24004;
}

#detailContent #actionArea
{
	padding:10px 5px 9px 0;
	border-bottom:2px solid #BEBEBE;
}
#detailContent #actionArea table
{
	text-align:right;
}
#detailContent #actionArea table td a
{
	display:inline-block;
}

#detailContent div.majorArea p.catch
{
	font-size:150%;
	font-weight:700;
	margin-top:15px;
}
#detailContent div.majorArea p.read
{
	font-size:100%;
	font-weight:400;
	margin-top:15px;
}
#detailContent #jobOfferArea
{
	margin-top:15px;
}
#detailContent h2.detailTitle {
    background:#77bbff;
    color:#FFF;
    font-size:134%;
    font-weight:700;
    line-height:1.1;
    margin-left:0;
    padding:4px 6px 3px;
    word-break: break-all;
    word-wrap: break-word;

}
#detailContent dl.descriptions dt {
	margin-top: 5px;
	font-weight:700;
    word-break: break-all;
    word-wrap: break-word;
}
#detailContent dl.descriptions dt span {
	color:#77bbff;
}
#detailContent dl.descriptions dd {
	margin-right:5px;
}

#detailContent #leftContent {
	width: 365px;
	margin: 0;
	padding: 0;
}
#detailContent #rightContent {
	width: 365px;
	margin: 0;
	padding: 0;
}
#detailContent #leftContent {
	float: left;
}
#detailContent #rightContent {
	float: right;
}
#detailContent #jobOfferArea:after {
	content:"";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

#detailContent table.infoTable {
	width:100%;
	border-left:1px solid #999999;
	border-top:1px solid #999999;
}
#detailContent table.infoTable th
{
	font-weight:700;
	background-color:#dcdcdc;
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	padding:0;
	line-height:1.4;
	text-align:left;
	vertical-align:top;
}

#detailContent table.middle th
{
	width:100px
}
#detailContent table.large th
{
	width:120px
}
#detailContent table.infoTable td
{
	border-right:1px solid #999999;
	border-bottom:1px solid #999999;
	line-height:1.4;
	text-align:left;
	vertical-align:top;
    word-break: break-all;
    word-wrap: break-word;
}

/******************************
  応募フォーム
/******************************/

#formContent h1.title
{
    background:#77bbff;
	color:#ffffff;
	font-size:134%;
	font-weight:700;
	line-height:1.1;
	margin-left:0;
	padding:4px 6px 3px;
}
#formContent h2.subTitle
{
	color:#333333;
	font-size:117%;
	font-weight:700;
	line-height:1.1;
	margin-top:15px;
	margin-bottom:10px;
	border-bottom:1px solid #999999;
	padding:0 1px 3px;
}
#formContent div#mainContent {
	margin:0;
	padding:0;
	float: right;
	width: 475px
}

#formContent div#sideContent {
	margin:0;
	padding:0;
	float: left;
	width: 240px;
	margin-right: 5px;
}

#formContent div#mainContent div.formObj {
	margin:0;
	padding:0;
}

#formContent div#mainContent div.formObj h3.caution{
	font-size:100%;
	font-weight:700;
}
#formContent div#mainContent div.formObj h3.caution em{
    color:#77bbff;
	font-size:150%;
	font-weight:700;
	margin:0;
	padding:0;
}
#formContent div#mainContent div.formObj h3{
	font-size:150%;
	font-weight:700;
	line-height:1.1;
	margin-top:0px;
	margin-bottom:5px;
	padding:0;
}

#formContent div#mainContent div.formObj table {width:100%;border-left:1px solid #999;border-top:1px solid #999;margin-bottom:15px;}
#formContent div#mainContent div.formObj table th{width:160px;border-right:1px solid #999;border-bottom:1px solid #999999;font-weight:700;text-align:right; padding-right:5px; padding-top:5px;background-color:#fefae1;vertical-align:top;}
#formContent div#mainContent div.formObj table th em{font-size:84%;font-weight:400}
#formContent div#mainContent div.formObj table td{border-right:1px solid #999;border-bottom:1px solid #999;padding:6px;background-color:#efecdd}
#formContent div#mainContent div.formObj table td p{font-weight:700;}
#formContent div#mainContent div.formObj table td p em{font-size:84%;font-weight:100;}
#formContent div#mainContent div.formObj table td p span{font-size:84%;font-weight:100;}

#formContent div#mainContent div.formObj table td ul.note li{font-size:84%;font-weight:400;color:#666666;}
#formContent div#mainContent div.formObj table td ul.note li p{font-weight:100;color:#666;padding-left:1em;text-indent:-1em;}

#formContent div#mainContent div.actionObj
{
	text-align:center;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}

#formContent div.privacyPolicyForm div.actionObj
{
	text-align:center;
	margin:0 auto;
	margin-top:20px;
	margin-bottom:20px;
}
#formContent div.privacyPolicyForm div.actionObj input{
	background-color:#77bbff;
	border:solid 1px #0066cc;
	padding:7px 10px;
	color:white;
	font-weight:bold;
}

#formContent div#mainContent div.actionObj input{
	background-color:#77bbff;
	border:solid 1px #0066cc;
	padding:7px 10px;
	color:white;
	font-weight:bold;
}
#formContent div#mainContent div.photoButton {
	margin:0;
	text-align:left;
}
#formContent div#mainContent div.photoButton .fileUpload {
	background-color:#77bbff;
	border:solid 1px #0066cc;
	padding:7px 10px;
	color:white;
	font-weight:bold;

	position: relative;
	overflow: hidden;
	margin:0;
	display:inline-block;
	/display:inline;
	/zoom:1;
}
#formContent div#mainContent div.photoButton .fileUpload input.file {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 36px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	font-size:1000px; /* IE9対策 */
}
#formContent div#mainContent div.photoButton .fileUpload.disabled {
	background-color:#dddddd;
	border-color: #aaaaaa;
	color:white;
}

#formContent div#mainContent div.formObj input.smallButton{ padding:2px 5px; }
#formContent div#mainContent div.formObj textarea{ resize:vertical; }
#formContent div#mainContent div.formObj .photoPreview .contents{
	float:left;
	position:relative;
	display:inline-block;
	width:auto;
	height:auto;
	max-width:160px;
	max-height:160px;
}
#formContent div#mainContent div.formObj .photoPreview .contents .loading{
	display:none;
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;

	background-color:#ffffff;
	opacity:0.8;
}
#formContent div#mainContent div.formObj .photoPreview .contents .loading .fa-spinner{
	margin-top:30px;
}
#formContent div#mainContent div.formObj .photoPreview img.photo{
	width:auto;
	height:auto;
	max-width:160px;
	max-height:160px;
}
#formContent div#mainContent div.formObj .photoPreview .photoEditButton{
	margin-left:4px;
	padding:4px;
	color:#000000;
	cursor:default;
}
#formContent div#mainContent div.formObj .photoPreview .photoEditButton.disabled{
	color:#dddddd;
}

#formContent div#sideContent div.infoObj
{
	margin:0;
	float:left;
	font-size:90%;
	width:225px;
	border:1px solid #999999;
	margin-bottom:10px;
	padding:7px 4px;
}
#formContent div#sideContent div.infoObj div.job
{
	padding:3px;
	margin:0;
	border:1px solid #999999;
	background-color:#f0f0f0;
	text-align:left;
}
#formContent div#sideContent div.infoObj div.apply
{
	margin:0;
	padding:3px;
	border-left:1px solid #999;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	background-color:#ffffff;
	text-align:left;
}
#formContent div.freeMessage
{
	margin-top:10px;
	margin-bottom:10px;
	padding:3px;
}

#formContent div#mainContent .privacy{text-align:center; margin:0 auto; margin-top:20px;}
#formContent div#mainContent .privacy ul li{display:inline;margin-left:10px}
#formContent div#mainContent .privacy ul li.k_first{border-right:1px solid #ccc;margin-left:0;padding-right:10px}#formContent div.entryFlow
{
	margin:0;
	padding:0;
}
#formContent div.entryFlow ul.entryFlowObj { margin-top:10px; list-style-type: none;}
#formContent div.entryFlow ul.entryFlowObj li{list-style-position:outside;float:left; width:119px; height:19px; padding: 1px 0 0 6px; margin-right:5px; margin-bottom:15px; }
#formContent div.entryFlow ul.entryFlowObj li.active{color:#ff1414;background-position:0 0; padding: 1px 0 0 6px;}
#formContent div#mainContent div.formObj table td p span.column_note{ font-size: 84%; font-weight: bold; padding-left: 0.5em; }

#formContent div#mainContent .entrySheetFileName
{
	word-break: break-all;
}

#formContent #_entrySheet1 .loading,
#formContent #_entrySheet2 .loading,
#formContent #_entrySheet3 .loading
{
	display: none;
	text-align: center;
}

#formContent div#mainContent #confirmButtonAlert
{
	color: red;
	display: none;
}

#formContent div#mainContent div.formObj div.actionObj input#confirm.disabled
{
	background-color:#dddddd !important;
	border-color: #aaaaaa !important;
	color:white !important;
}

/* 面接予約 */
dl.interviewPlace dt
{
	float:left;
	font-weight:bold;
}
dl.interviewPlace dd
{
	margin-left:60px;
	word-break: break-all;
	word-wrap: break-word;
}
dl.interviewPlace dd.location
{
	position:relative;
}
dl.interviewPlace dd.location span.address
{
	display:block;
	padding-right:7em;
	word-break: break-all;
	word-wrap: break-word;
}
dl.interviewPlace dd.location span.addressMap
{
	position:absolute;
	top:0px;
	right:5px;
}
dl.interviewPlace dd.interview
{
	margin:10px 10px 20px 10px;
}
dl.interviewPlace dd.interview ul li
{
	border-bottom: dotted 1px #000;
}
dl.interviewPlace dd.interview ul li span.bookingStatus
{
	width:60px;
	display:inline-block;
	/display: inline;
	/zoom: 1;
}

#formContent div#mainContent div.formObj table td p.adjustInterviewScheduleCheck
{
	margin-left:10px;
	font-weight: normal;
}

#formContent div#mainContent div.formObj table td p.adjustInterviewScheduleCheck input
{
	vertical-align: middle;
}
/******************************
  コンテンツボトム
/******************************/
#bottomContent {
    clear: both;
}

#bottomContent a:link, #bottomContent a:active
{
	color: #ffffff;
	text-decoration: none;
}

#bottomContent a:visited {
	color: #ffffff;
	text-decoration: none;
}

#bottomContent a:hover {
	color: #ffffff;
	text-decoration: none;
}

/* ソーシャルボタン */
#bottomContent #social {
	overflow: visible;
	height: auto;
}

#bottomContent ul#socialObj {
  float: none;
  text-align: right;
}

#bottomContent ul#socialObj li {
	display: inline-block;
	float: none;
	margin: 0 5px 0 0;
	vertical-align: top;
}
iframe.twitter-share-button {
    width: 105px!important;
}
#fb-root{
    width: 120px!important;
}

#errorContent {margin-left:20px; margin-right:20px;}
#errorContent #httpError{text-align:left; padding-top:20px;}
#errorContent #httpError h1.error_title{font-size:1.5em;}

/********************************************
路線検索機能
********************************************/
#lineObj div.prefectureSelection select
{
	width:200px;
	border: 2px solid #666666;
	padding: 5px;
	color: #666666;
}

#lineObj div.lineSelection p.annotation {
	text-align:right;
	font-size:18px;
}

#lineObj div.lineSelection p.noLineMessage {
	font-size:18px;
}

#lineObj div.lineSelection dt.railwayCompany {
	padding:3px;
	padding-left:10px;
	background-color:#CCCCCC;
	margin-top:15px;
}

#lineObj div.lineSelection dd.line {
	display:inline-block;
	width:170px;
	margin-top:5px;
    margin-left: 10px;
    *display: inline;  
    *zoom: 1; 
}
#lineObj div.lineSelection dl.railwayCompanies {
	margin-bottom:10px;
}
