.category {
  margin: 0 auto 30px;
  width: 95%;
  @media #{$sp-large} {
    width: 100%;
  }
  &__list {
    width: 100%;
    &--another {
      justify-content: space-between;
      margin: 0 auto;
      width: 100%;
      @media #{$sp-large} {
        width: 95%;
      }
    }
  }
  &__item {
    border-top: solid 4px $main-color;
    display: flex;
    flex-direction: column;
    margin: 0 25px 40px 0;
    @media #{$tablet} {
      margin: 0 25px 40px 0;
    }
    @media #{$sp-large} {
      margin: 0 0 20px !important;
    }
    &:nth-of-type(3n) {
      margin: 0 0 40px;
      @media #{$tablet} {
        margin: 0 25px 40px 0;
      }
      @media #{$sp-large} {
        margin: 0 0 20px !important;
      }
    }
    &:nth-of-type(even) {
      @media #{$tablet} {
        margin: 0 0 40px;
      }
      @media #{$sp-large} {
        margin: 0 0 20px !important;
      }
    }
    &:last-of-type {
      @media #{$sp-large} {
        margin: 0 !important;
      }
    }
    &--top {
      margin: 35px auto 50px;
      @media #{$sp-large} {
        margin: 10px auto 10px !important;
      }
    }
  }
  &__hd {
    color: $main-color;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    margin: 20px auto 24px;
    @media #{$sp-large} {
      font-size: 1.8rem;
      margin: 15px auto;
    }
  }
  &__wrap {
    min-height: 0%;
    @media #{$sp-large} {
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &__text {
    font-size: 1.4rem;
    line-height: (24/14);
    text-align: justify;
    margin: 0 auto 20px;
    min-height: 0%;
    @media #{$sp-large} {
      margin: 0 auto 10px;
      width: 95%;
    }
  }
  &__img {
    margin: 0 auto 20px;
    min-height: 0%;
    width: 100%;
    @media #{$sp-large} {
      margin: 0 auto;
      max-width: 350px;
      width: 95%;
    }
    span {
      width: 49%;
    }
    img {
      width: 100%;
    }
    &--top {
      display: flex;
      margin: 20px auto;
      justify-content: space-between;
      @media #{$sp-large} {
        display: block;
        margin: 15px auto 0;
        max-width: 350px;
        width: 95%;
        img {
          margin: 0 auto 10px;
        }
      }
    }
  }
  &__link {
    margin: auto 0 0;
    @media #{$sp-large} {
      margin: 20px auto;
      width: 95%;
    }
    &--another {
      margin: 0 $col-margin-right $col-margin-bottom 0;
      @media #{$sp-large} {
        width: 48%;
        width: calc((100% - 10px) / 2);
        @media #{$IE11} {
          $ie-adjust6sp:$col-margin-right-sp + 0.2;
          width: calc((100% - #{$ie-adjust6sp}) / 2);
        }
        @supports (-ms-accelerator:true) or (-ms-ime-align:auto)   {
          $edge-adjust6sp: $col-margin-right-sp + 1.2;
          width: calc((100% - #{$edge-adjust6sp}) / 2);
        }
      }
    }
  }
}
