.cmnHd {
  color: $main-color;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 42px;
  position: relative;
  margin: 0 auto;
  padding: 0 0 0 15px;
  max-width: $main-width;
  width: 100%;
  @media #{$pc-small} {
    font-size: 3.2rem;
    line-height: 36px;
  }
  @media #{$map} {
    width: 95%;
  }
  &::before {
    background: linear-gradient(to bottom, rgba(59,73,159,1) 0%, rgba(59,73,159,1) 75%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 83%, rgba(200,200,202,1) 83%, rgba(200,200,202,1) 100%);
    content: '';
    display: block;
    height: 40px;
    width: 4px;
    position: absolute;
    left: 0;
    top: 0;
    @media #{$sp-large} {
      height: 36px;
    }
  }
  @media #{$sp-large} {
    font-size: 2.4rem;
  }
}