.contract {
  width: 100%;
  &List {
    margin: 30px auto 55px;
    @media #{$tablet} {
      display: flex;
      justify-content: space-between;
      margin: 30px auto 20px;
      width: 95%;
    }
    @media #{$sp-large} {
      display: block;
      margin: 10px auto 35px;
      width: 100%;
    }
    &__item {
      margin: 0 0 30px;
      @media #{$tablet} {
        width: 32%;
      }
      @media #{$sp-large} {
        margin: 0 0 2px;
        width: 100%;
        .linkBtn {
          align-items: flex-start;
          padding: 0 0 0 15px;
          height: 50px;
        }
      }
    }
  }
}
