#nav{
  background: #fff;
  border-bottom: solid 7px $sub-color;
  position: absolute;
  top: 71px;
  z-index: 100000;
  height: 47px;
  width: 100%;
  @media #{$sp-large} {
    border: 0;
    position: absolute;
    top: 95px;
    height: 104px;
    width: 100%;
  }
}
.gNav {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 0;
  max-width: $main-width;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  @media #{$iPhoneX} {
    padding: 0 constant(safe-area-inset-right) 0 constant(safe-area-inset-left);
    padding: 0 env(safe-area-inset-right) 0 calc(env(safe-area-inset-left));
  }
  @media #{$sp-large} {
    font-size: 1.3rem;
    border-bottom: solid 4px $main-color;
  }
  &__item {
    border-bottom: solid 7px $main-color;
    margin: 0;
    width: 25%;
    transition: all 0.4s;
    @media #{$sp-large} {
      border-bottom: 0;
      margin: 0 !important;
    }
    &:hover {
      @media #{$ovTablet} {
        border-bottom: solid 7px #6270c0;
      }
    }
    &:nth-of-type(odd) {
      a {
        @media #{$sp-large} {
          border-left: 0;
        }
      }
    }
    &:nth-of-type(4n) {
      margin: 0;
    }
    &:last-of-type {
      a {
        @media #{$ovSp-large} {
          border-right: solid 1px #ddd;
        }
      }
    }
    @media #{$sp-large} {
      border: 0;
      width: 50%;
    }
    a {
      background: #fff;
      border-left: solid 1px #ddd;
      color: $main-color;
      display: block;
      padding: 10px 0;
      line-height: 1.3;
      text-align: center;
      transition: all 0.4s;
      position: relative;
      @media #{$sp-large} {
        border-top: solid 1px #ddd;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        min-height: 50px;
        width: 100%;
        @media #{$IE11} {
          height: 50px;
        }
      }
      &::after {
        @media #{$sp-large} {
          content: '\f105';
          color: $main-color;
          font-family: fontawesome;
          font-size: 2rem;
          line-height: 1;
          display: block;
          position: absolute;
          top: 50%;
          right: 4%;
          transform: translateY(-50%);
        }
      }
      @include pseudo($main-color);
      @media #{$ovTablet} {
        &:hover {
          background: $hover-bg;
          color: $hover-color !important;
          &::after {
            color: #fff;
          }
        }
      }
    }
  }
}

.spBtn {
  background: rgba(#fff,.7);
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  @media #{$sp-small} {
    top: 0;
    height: 50px;
    width: 50px;
  }
  span {
    width: 40px;
    height: 4px;
    display: block;
    background: #666;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -19px;
    transform: rotate(0deg);
    transition: all 0.3s;
    @media #{$sp-small} {
      height: 2px;
      width: 33.33px;
      margin: -1px 0 0 -16px;
    }
  }
  .top {
    transform: translateY(-14px);
    @media #{$sp-small} {
      transform: translateY(-10px);
    }
  }
  .middle {
    transform: rotate(0deg);
  }
  .bottom {
    transform: translateY(14px);
    @media #{$sp-small} {
      transform: translateY(10px);
    }
  }
  &.is-opened {
    .top {
      transform: rotate(-45deg) translateY(0px);
    }
    .middle {
      background: rgba(#fff, 0);
    }
    .bottom {
      transform: rotate(45deg) translateY(0px);
    }
    & + .gNav {
      max-height: 300px;
    }
  }
}
