.interview {
  margin: 0 auto 60px;
  @media #{$map} {
   width: 100%;
  }
  &__hd {
    background: $sub-color;
    color: $main-color;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1;
    margin: 20px auto;
    padding: 15px;
    @media #{$sp-large} {
      font-size: 1.6rem;
      padding: 10px 15px;
      @media #{$sp-large} {
        margin: 10px auto;
      }
    }
  }
  &__lead {
    font-size: 1.4rem;
    list-style: (24/14);
    text-align: justify;
    margin: 0 auto 20px;
    @media #{$map} {
      margin: 0 auto 10px;
      width: 95%;
    }
  }
  &__items {
    width: 100%;
    @media #{$map} {
      margin: 0 auto;
      width: 95%;
    }
  }
  &__item {
    a {
      color: #fff;
      display: flex;
      width: 100%;
      transition: opacity .4s;
      @include pseudo(#fff);
      @media #{$ovTablet} {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__link {
    margin: 20px auto;
    max-width: 600px;
    width: 95%;
  }
}

.item {
  &__text {
    background: $main-color;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 10px;
    width: 52%;
    @media #{$tablet} {
      font-size: 2rem;
      padding: 20px;
      width: calc(100% - 237px);
    }
    @media #{$sp-large} {
      font-size: 1.8rem;
      padding: 10px;
    }
    @media #{$sp-small} {
      font-size: 1.1rem;
      padding: 5px;
      width: calc( 100% - 237px / 1.5);
    }
  }
  &__prof {
    margin: auto 0 0;
    font-size: 1.2rem;
    @media #{$tablet} {
      font-size: 1.4rem;
    }
    @media #{$sp-small} {
      font-size: 1.1rem;
    }
    span {
      display: block;
    }
  }
  &__img {
    max-width: 237px;
    width: 48%;
    @media #{$tablet} {
      width: 237px;
    }
    @media #{$sp-small} {
      width: (237px / 1.5);
    }
    img {
      width: 100%;
    }
  }
}
