.jobFair {
  margin: 0 auto 40px;
  @media #{$sp-large} {
  margin: 0 auto 30px;
}
  p {
    font-size: 1.4rem;
    line-height: (24/14);
    text-align: justify;
    margin: 20px auto;
    @media #{$map} {
      width: 95%;
    }
    @media #{$sp-large} {
      margin: 10px auto 20px;
    }
  }
  &__link {
    margin: 0 auto;
    max-width: 600px;
    width: 95%;
  }
}