.linkBtn {
  background: $main-color;
  border: solid 2px $main-color;
  //border-radius: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  line-height: (30/26);
  height: 62px;
  width: 100%;
  position: relative;
  transition: all .5s;
  @include pseudo(#fff);
  @media #{$tablet} {
    font-size: 1.8rem;
  }
  @media #{$sp-large} {
    flex-direction: column;
    font-size: 1.6rem;
    font-weight: 600;
    height: 50px;
  }
  &::before {
    content: '\f105';
    color: #fff;
    display: block;
    font-family: fontawesome;
    font-size: 2.8rem;
    line-height: 1;
    position: absolute;
    top: 50%;
    right: 13px;
    transform: translateY(-50%);
    z-index: 4;
    transition: color .5s;
    @media #{$sp-large} {
      color: #fff;
    }
    @media #{$sp-small} {
      font-size: 2rem;
      right: 6px;
    }
  }
  &--red {
    border-color: $sub-color2;
    background: $sub-color2;
  }
  @media #{$ovTablet} {
    &:hover {
      background: $hover-bg;
      border-color: $hover-bg;
      color: $hover-color !important;
      &::before {
        color: $hover-color;
      }
    }
    &--red {
      &:hover {
        border-color: $sub-color2;
        background: #fff;
        color: $sub-color2 !important;
        &::before {
          color: $sub-color2 !important;
        }
      }
    }
  }
  //&__icon {
  //  position: absolute;
  //  top: 50%;
  //  left: 15px;
  //  width: 70px;
  //  transform: translateY(-50%);
  //  @media #{$tablet} {
  //    left: 10px;
  //    width: 50px;
  //  }
  //  @media #{$sp-small} {
  //    width: 30px;
  //  }
  //  img {
  //    margin: 0 auto;
  //    @media #{$tablet} {
  //      max-height: 32px;
  //      max-width: 50px;
  //    }
  //    @media #{$sp-small} {
  //      max-height: 25px;
  //      max-width: 30px;
  //    }
  //  }
  //}
}

//.hasImage {
//  justify-content: flex-start;
//  .linkBtn__text {
//    padding: 0 0 0 100px;
//    @media #{$tablet} {
//      padding: 0 0 0 70px;
//    }
//    @media #{$sp-small} {
//      padding: 0 0 0 50px;
//    }
//  }
//}
