.search {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  width: 95%;
  @media #{$tablet} {
    display: block;
  }
  @media #{$map} {
    width: 100%;
  }
  &__area {
    width: 524px;
    @media #{$tablet} {
      margin: 0 auto;
      width: 100%;
    }
    @media #{$map} {
      width: 100%;
    }
  }
  &__side {
    margin: 0 0 0 40px;
    max-width: 350px;
    width: calc(100% - 524px);
    @media #{$tablet} {
      margin: 40px auto 0;
      max-width: 100%;
      width: 100%;
    }
    @media #{$sp-large} {
      display: block;
    }
  }
}