.area(align='right')
  table
    tr.a1
      th
        a.areatag(href='/jobfind-pc/map/HokkaidoTohoku/All') 北海道・東北
      td
        ul
          li.k1
            a(href='/jobfind-pc/map/HokkaidoTohoku/Hokkaido', alt='北海道') 北海道
          li.k2-dead 青森
          li.k3-dead 岩手
          li.k4
            a(href='/jobfind-pc/map/HokkaidoTohoku/Miyagi', alt='宮城') 宮城
          li.k5
            a(href='/jobfind-pc/map/HokkaidoTohoku/Akita', alt='秋田') 秋田
          li.k6-dead 山形
          li.k7
            a(href='/jobfind-pc/map/HokkaidoTohoku/Fukushima', alt='福島') 福島
    tr.a2
      th
        a.areatag(href='/jobfind-pc/map/Kanto/All') 関東
      td
        ul
          li.k1
            a(href='/jobfind-pc/map/Kanto/Tokyo', alt='東京') 東京
          li.k2
            a(href='/jobfind-pc/map/Kanto/Kanagawa', alt='神奈川') 神奈川
          li.k3
            a(href='/jobfind-pc/map/Kanto/Saitama', alt='埼玉') 埼玉
          li.k4
            a(href='/jobfind-pc/map/Kanto/Chiba', alt='千葉') 千葉
          li.k5
            a(href='/jobfind-pc/map/Kanto/Ibaraki', alt='茨城') 茨城
          li.k6
            a(href='/jobfind-pc/map/Kanto/Tochigi', alt='栃木') 栃木
          li.k7
            a(href='/jobfind-pc/map/Kanto/Gunma', alt='群馬') 群馬
    tr.a3
      th
        a.areatag(href='/jobfind-pc/map/KoshinetuHokuriku/All') 甲信越・北陸
      td
        ul
          li.k1
            a(href='/jobfind-pc/map/KoshinetuHokuriku/Yamanashi', alt='山梨') 山梨
          li.k2-dead 長野
          li.k3
            a(href='/jobfind-pc/map/KoshinetuHokuriku/Niigata', alt='新潟') 新潟
          li.k4
            a(href='/jobfind-pc/map/KoshinetuHokuriku/Toyama', alt='富山') 富山
          li.k5
            a(href='/jobfind-pc/map/KoshinetuHokuriku/Ishikawa', alt='石川') 石川
          li.k6-dead 福井
    tr.a4
      th
        a.areatag(href='/jobfind-pc/map/Tokai/All') 東海
      td
        ul
          li.k1
            a(href='/jobfind-pc/map/Tokai/Aichi', alt='愛知') 愛知
          li.k2
            a(href='/jobfind-pc/map/Tokai/Gifu', alt='岐阜') 岐阜
          li.k3
            a(href='/jobfind-pc/map/Tokai/Mie', alt='三重') 三重
          li.k4
            a(href='/jobfind-pc/map/Tokai/Shizuoka', alt='静岡') 静岡
    tr.a5
      th
        a.areatag(href='/jobfind-pc/map/Kansai/All') 関西
      td
        ul
          li.k1
            a(href='/jobfind-pc/map/Kansai/Osaka', alt='大阪') 大阪
          li.k2
            a(href='/jobfind-pc/map/Kansai/Hyogo', alt='兵庫') 兵庫
          li.k3
            a(href='/jobfind-pc/map/Kansai/Kyoto', alt='京都') 京都
          li.k4-dead 滋賀
          li.k5
            a(href='/jobfind-pc/map/Kansai/Nara', alt='奈良') 奈良
          li.k6-dead 和歌山
    tr.a6
      th
        a.areatag(href='/jobfind-pc/map/ChugokuShikoku/All') 中国・四国
      td
        ul
          li.k1
            a(href='/jobfind-pc/map/ChugokuShikoku/Okayama', alt='岡山') 岡山
          li.k2
            a(href='/jobfind-pc/map/ChugokuShikoku/Hiroshima', alt='広島') 広島
          li.k3-dead 鳥取
          li.k4-dead 島根
          li.k5-dead 山口
          li.k6-dead 香川
          li.k7-dead 徳島
          li.k8
            a(href='/jobfind-pc/map/ChugokuShikoku/Ehime', alt='愛媛') 愛媛
          li.k9-dead 高知
    tr.a7
      th
        a.areatag(href='/jobfind-pc/map/KyushuOkinawa/All') 九州・沖縄
      td
        ul
          li.k1
            a(href='/jobfind-pc/map/KyushuOkinawa/Fukuoka', alt='福岡') 福岡
          li.k2
            a(href='/jobfind-pc/map/KyushuOkinawa/Saga', alt='佐賀') 佐賀
          li.k3-dead 長崎
          li.k4-dead 熊本
          li.k5-dead 大分
          li.k6-dead 宮崎
          li.k7-dead 鹿児島
          li.k8
            a(href='/jobfind-pc/map/KyushuOkinawa/Okinawa', alt='沖縄') 沖縄
