//
  =======================================
  Coading by maSuzuki from Canada ;)
  **System Info:
  - Graceful degradation
  - Css coding style is BEM & OOCSS.
  - jQuery never use for custom scripts (using typescript and require.js);
  - normalize.scss 7.0.0
  - MediaQuery Tab 900px
  Smart Phone 740px
  **Browser Check:
  - Chrome : ok
  - Firefox : ok
  - Edge : ok
  - IE : 11 ok
  - Safari : 11 ok
  - iOS : 8~11
  - Android : 4.4.2, 5.0.1, 6.0.0, 7.0.0, 8.0.0 all ok
  *** aタグにある rel="noopener noreferrer"は
  脆弱性、Tabnabbing(タブナビング)への対策として
  必須なので、必ずそのままにしてください。 ***
  =======================================
