//script(type='text/javascript', src=`${path.script}require/vendor/smooth-scroll.polyfills.js`)
script(type='text/javascript', src=`${path.script}custom.js`)
//script.
//  document.addEventListener('DOMContentLoaded', function(){
//    var smoothScroll = new SmoothScroll('a[href*="#"]', {
//      offset: 110,
//      before: function(){
//        window.history.replaceState(null,null, location.pathname);
//      }
//    });
//  });
if path.script === "/jobfind-pc/js/"
  script(type="text/javascript" src=`${path.script}jobmap.js`)
