.freeword
  form.fwBody(action='/jobfind-pc/area/All', name='searchForm', method='post')
    .freeWordInput
      input#freeword(type='text', name='freeword', value='', placeholder=freeWordPlaceholder)
    .freeWordButton
      label.freeWordButton__icon
        input#freewordsearch(type='submit', value='', name='freewordsearch')
