.areaMap
  //
    !!! CAUTION !!!
    Following code is for development environment
    YOU CAN NEVER USE THIS CODE FOR PRODUCTION ENVIRONMENT!!!!
    !!! CAUTION !!!
  #mapObj.mapObj
    // ▼ 地図
    .area
      p.map
        img#mapImage._lazyload(src='#', alt='', usemap='#mapImageMap', width='524', height='544')
      ul#ul_japanmaps
        li.a1(style='cursor: pointer;')
          p.head
            a.areatag(href='/jobfind-pc/map/HokkaidoTohoku/All') 北海道・東北
          ul.miniArea
            li.k1
              a(href='/jobfind-pc/map/HokkaidoTohoku/Hokkaido', alt='北海道') 北海道
            li.k2-dead.k_dead 青森
            li.k3-dead.k_dead 岩手
            li.k4
              a(href='/jobfind-pc/map/HokkaidoTohoku/Miyagi', alt='宮城') 宮城
            li.k5-dead.k_dead 秋田
            li.k6
              a(href='/jobfind-pc/map/HokkaidoTohoku/Yamagata', alt='山形') 山形
            li.k7
              a(href='/jobfind-pc/map/HokkaidoTohoku/Fukushima', alt='福島') 福島
        li.a2(style='cursor: pointer;')
          p.head
            a.areatag(href='/jobfind-pc/map/Kanto/All') 関東
          ul.miniArea
            li.k1
              a(href='/jobfind-pc/map/Kanto/Tokyo', alt='東京') 東京
            li.k2
              a(href='/jobfind-pc/map/Kanto/Kanagawa', alt='神奈川') 神奈川
            li.k3
              a(href='/jobfind-pc/map/Kanto/Saitama', alt='埼玉') 埼玉
            li.k4
              a(href='/jobfind-pc/map/Kanto/Chiba', alt='千葉') 千葉
            li.k5
              a(href='/jobfind-pc/map/Kanto/Ibaraki', alt='茨城') 茨城
            li.k6
              a(href='/jobfind-pc/map/Kanto/Tochigi', alt='栃木') 栃木
            li.k7
              a(href='/jobfind-pc/map/Kanto/Gunma', alt='群馬') 群馬
        li.a3(style='cursor: pointer;')
          p.head
            a.areatag(href='/jobfind-pc/map/KoshinetuHokuriku/All') 甲信越・北陸
          ul.miniArea
            li.k1
              a(href='/jobfind-pc/map/KoshinetuHokuriku/Yamanashi', alt='山梨') 山梨
            li.k2
              a(href='/jobfind-pc/map/KoshinetuHokuriku/Nagano', alt='長野') 長野
            li.k3-dead.k_dead 新潟
            li.k4-dead.k_dead 富山
            li.k5-dead.k_dead 石川
            li.k6-dead.k_dead 福井
        li.a4(style='cursor: pointer;')
          p.head
            a.areatag(href='/jobfind-pc/map/Tokai/All') 東海
          ul.miniArea
            li.k1
              a(href='/jobfind-pc/map/Tokai/Aichi', alt='愛知') 愛知
            li.k2-dead.k_dead 岐阜
            li.k3
              a(href='/jobfind-pc/map/Tokai/Mie', alt='三重') 三重
            li.k4
              a(href='/jobfind-pc/map/Tokai/Shizuoka', alt='静岡') 静岡
        li.a5(style='cursor: pointer;')
          p.head
            a.areatag(href='/jobfind-pc/map/Kansai/All') 関西
          ul.miniArea
            li.k1
              a(href='/jobfind-pc/map/Kansai/Osaka', alt='大阪') 大阪
            li.k2
              a(href='/jobfind-pc/map/Kansai/Hyogo', alt='兵庫') 兵庫
            li.k3
              a(href='/jobfind-pc/map/Kansai/Kyoto', alt='京都') 京都
            li.k4
              a(href='/jobfind-pc/map/Kansai/Shiga', alt='滋賀') 滋賀
            li.k5
              a(href='/jobfind-pc/map/Kansai/Nara', alt='奈良') 奈良
            li.k6-dead.k_dead 和歌山
        li.a6(style='cursor: pointer;')
          p.head
            a.areatag(href='/jobfind-pc/map/ChugokuShikoku/All') 中国・四国
          ul.miniArea
            li.k1
              a(href='/jobfind-pc/map/ChugokuShikoku/Okayama', alt='岡山') 岡山
            li.k2
              a(href='/jobfind-pc/map/ChugokuShikoku/Hiroshima', alt='広島') 広島
            li.k3
              a(href='/jobfind-pc/map/ChugokuShikoku/Tottori', alt='鳥取') 鳥取
            li.k4-dead.k_dead 島根
            li.k5-dead.k_dead 山口
            li.k6-dead.k_dead 香川
            li.k7-dead.k_dead 徳島
            li.k8-dead.k_dead 愛媛
            li.k9-dead.k_dead 高知
        li.a7(style='cursor: pointer;')
          p.head
            a.areatag(href='/jobfind-pc/map/KyushuOkinawa/All') 九州・沖縄
          ul.miniArea
            li.k1
              a(href='/jobfind-pc/map/KyushuOkinawa/Fukuoka', alt='福岡') 福岡
            li.k2-dead.k_dead 佐賀
            li.k3-dead.k_dead 長崎
            li.k4
              a(href='/jobfind-pc/map/KyushuOkinawa/Kumamoto', alt='熊本') 熊本
            li.k5-dead.k_dead 大分
            li.k6-dead.k_dead 宮崎
            li.k7-dead.k_dead 鹿児島
            li.k8
              a(href='/jobfind-pc/map/KyushuOkinawa/Okinawa', alt='沖縄') 沖縄
      map#mapImageMap(name='mapImageMap')
        area#area1(shape='poly', coords='389,313,381,311,377,316,372,311,367,305,360,304,347,311,342,311,342,293,352,291,356,279,355,267,359,263,351,253,359,242,363,226,366,215,363,206,355,205,356,200,363,200,365,189,362,179,367,174,372,171,374,158,363,146,358,118,360,106,374,83,377,80,397,85,400,78,399,65,407,45,403,12,406,3,416,3,429,17,452,43,476,50,489,57,503,40,505,44,498,60,502,70,517,73,510,83,489,93,474,93,454,115,453,128,447,126,419,113,407,107,390,118,384,124,394,135,403,152,404,179,417,194,420,214,420,226,410,242,408,254,405,261,397,260,390,272,394,286,394,305', alt='北海道・東北')
        area#area2(shape='poly', coords='389,314,382,311,377,315,373,311,366,304,361,304,349,311,343,311,338,309,330,318,319,323,319,329,325,331,324,341,333,351,339,358,333,366,337,375,361,384,375,376,377,370,388,356,382,333', alt='関東')
        area#area3(shape='poly', coords='351,253,320,261,285,288,268,297,269,313,251,333,246,343,231,358,232,364,239,365,245,361,253,355,258,352,270,350,271,348,269,343,283,326,294,332,293,340,286,351,294,363,292,373,299,373,309,366,312,357,313,369,317,374,320,372,320,366,332,367,340,358,323,341,325,332,319,329,318,324,322,322,328,319,337,310,342,312,342,293,351,291,355,281,355,273,354,266,359,263', alt='甲信越・北陸')
        area#area4(shape='poly', coords='334,366,320,366,320,373,314,370,312,357,310,365,301,372,292,373,295,363,287,350,294,341,295,333,284,326,269,342,271,348,267,351,257,352,254,356,259,367,260,376,255,383,249,383,248,394,252,398,248,401,248,414,242,418,243,423,245,423,258,409,273,405,276,399,280,393,296,394,312,395,316,390,323,385,330,396,339,387,341,381', alt='東海')
        area#area5(shape='poly', coords='201,352,215,353,225,350,228,352,231,359,233,363,240,365,254,355,259,366,260,374,259,379,255,384,250,384,248,395,253,398,248,402,249,414,243,418,243,423,246,424,241,431,237,433,225,427,219,416,207,404,198,386,196,378,202,369', alt='関西')
        area#area6(shape='poly', coords='164,352,177,356,188,356,201,352,201,361,201,368,196,378,208,405,208,419,190,438,176,428,163,434,154,454,144,450,136,446,126,430,126,418,96,407,94,391,102,390,108,391,118,381,123,380,148,361,149,356', alt='中国・四国')
        area#area7(shape='poly', coords='95,408,101,417,114,417,119,426,127,448,114,461,99,500,76,512,65,501,8,542,3,540,3,533,15,518,63,479,56,452,50,423,73,409,91,405', alt='九州・沖縄')
      script(type='text/javascript').
        initMapURL("theme/default/images/");
    // area
  // ▲ 地図
  // !!! END MAP CODE FOR DEVELOPMENT ENVIRONMENT !!!
  //
    !!! CAUTION !!!
    Following code is map code for production environment.
    YOU MUST USE FOLLOWING CODE!!!
    !!! CAUTION !!!
  //
    <div id="mapObj" class="mapObj">
    <div class="area">
    <p class="map"><img src="$link.contextPath/theme/default/images/shim.gif" alt="" width="524" height="544" usemap="#mapImageMap" id="mapImage" /></p>
    <ul>
    <li class="#getMapAreaStyle( "a1" "HokkaidoTohoku" )">
    <p class="head"><a href="$link.relative('/map/HokkaidoTohoku/All')" class="areatag">北海道・東北</a></p>
    <ul class="miniArea">
    #getMapLink( "k1" "HokkaidoTohoku/Hokkaido" "北海道")
    #getMapLink( "k2" "HokkaidoTohoku/Aomori" "青森")
    #getMapLink( "k3" "HokkaidoTohoku/Iwate" "岩手")
    #getMapLink( "k4" "HokkaidoTohoku/Miyagi" "宮城")
    #getMapLink( "k5" "HokkaidoTohoku/Akita" "秋田")
    #getMapLink( "k6" "HokkaidoTohoku/Yamagata" "山形")
    #getMapLink( "k7" "HokkaidoTohoku/Fukushima" "福島")
    </ul>
    </li>
    <li class="#getMapAreaStyle( "a2" "Kanto" )">
    <p class="head"><a href="$link.relative('/map/Kanto/All')" class="areatag">関東</a></p>
    <ul class="miniArea">
    #getMapLink( "k1" "Kanto/Tokyo" "東京")
    #getMapLink( "k2" "Kanto/Kanagawa" "神奈川")
    #getMapLink( "k3" "Kanto/Saitama" "埼玉")
    #getMapLink( "k4" "Kanto/Chiba" "千葉")
    #getMapLink( "k5" "Kanto/Ibaraki" "茨城")
    #getMapLink( "k6" "Kanto/Tochigi" "栃木")
    #getMapLink( "k7" "Kanto/Gunma" "群馬")
    </ul>
    </li>
    <li class="#getMapAreaStyle( "a3" "KoshinetuHokuriku" )">
    <p class="head"><a href="$link.relative('/map/KoshinetuHokuriku/All')" class="areatag">甲信越・北陸</a></p>
    <ul class="miniArea">
    #getMapLink( "k1" "KoshinetuHokuriku/Yamanashi" "山梨")
    #getMapLink( "k2" "KoshinetuHokuriku/Nagano" "長野")
    #getMapLink( "k3" "KoshinetuHokuriku/Niigata" "新潟")
    #getMapLink( "k4" "KoshinetuHokuriku/Toyama" "富山")
    #getMapLink( "k5" "KoshinetuHokuriku/Ishikawa" "石川")
    #getMapLink( "k6" "KoshinetuHokuriku/Fukui" "福井")
    </ul>
    </li>
    <li class="#getMapAreaStyle( "a4" "Tokai" )">
    <p class="head"><a href="$link.relative('/map/Tokai/All')" class="areatag">東海</a></p>
    <ul class="miniArea">
    #getMapLink( "k1" "Tokai/Aichi" "愛知")
    #getMapLink( "k2" "Tokai/Gifu" "岐阜")
    #getMapLink( "k3" "Tokai/Mie" "三重")
    #getMapLink( "k4" "Tokai/Shizuoka" "静岡")
    </ul>
    </li>
    <li class="#getMapAreaStyle( "a5" "Kansai" )">
    <p class="head"><a href="$link.relative('/map/Kansai/All')" class="areatag">関西</a></p>
    <ul class="miniArea">
    #getMapLink( "k1" "Kansai/Osaka" "大阪")
    #getMapLink( "k2" "Kansai/Hyogo" "兵庫")
    #getMapLink( "k3" "Kansai/Kyoto" "京都")
    #getMapLink( "k4" "Kansai/Shiga" "滋賀")
    #getMapLink( "k5" "Kansai/Nara" "奈良")
    #getMapLink( "k6" "Kansai/Wakayama" "和歌山")
    </ul>
    </li>
    <li class="#getMapAreaStyle( "a6" "ChugokuShikoku" )">
    <p class="head"><a href="$link.relative('/map/ChugokuShikoku/All')" class="areatag">中国・四国</a></p>
    <ul class="miniArea">
    #getMapLink( "k1" "ChugokuShikoku/Okayama" "岡山")
    #getMapLink( "k2" "ChugokuShikoku/Hiroshima" "広島")
    #getMapLink( "k3" "ChugokuShikoku/Tottori" "鳥取")
    #getMapLink( "k4" "ChugokuShikoku/Shimane" "島根")
    #getMapLink( "k5" "ChugokuShikoku/Yamaguchi" "山口")
    #getMapLink( "k6" "ChugokuShikoku/Kagawa" "香川")
    #getMapLink( "k7" "ChugokuShikoku/Tokushima" "徳島")
    #getMapLink( "k8" "ChugokuShikoku/Ehime" "愛媛")
    #getMapLink( "k9" "ChugokuShikoku/Kouchi" "高知")
    </ul>
    </li>
    <li class="#getMapAreaStyle( "a7" "KyushuOkinawa" )">
    <p class="head"><a href="$link.relative('/map/KyushuOkinawa/All')" class="areatag">九州・沖縄</a></p>
    <ul class="miniArea">
    #getMapLink( "k1" "KyushuOkinawa/Fukuoka" "福岡")
    #getMapLink( "k2" "KyushuOkinawa/Saga" "佐賀")
    #getMapLink( "k3" "KyushuOkinawa/Nagasaki" "長崎")
    #getMapLink( "k4" "KyushuOkinawa/Kumamoto" "熊本")
    #getMapLink( "k5" "KyushuOkinawa/Oita" "大分")
    #getMapLink( "k6" "KyushuOkinawa/Miyazaki" "宮崎")
    #getMapLink( "k7" "KyushuOkinawa/Kagoshima" "鹿児島")
    #getMapLink( "k8" "KyushuOkinawa/Okinawa" "沖縄")
    </ul>
    </li>
    </ul>
    <map name="mapImageMap" id="mapImageMap">
    <area shape="poly" coords="389,313,381,311,377,316,372,311,367,305,360,304,347,311,342,311,342,293,352,291,356,279,355,267,359,263,351,253,359,242,363,226,366,215,363,206,355,205,356,200,363,200,365,189,362,179,367,174,372,171,374,158,363,146,358,118,360,106,374,83,377,80,397,85,400,78,399,65,407,45,403,12,406,3,416,3,429,17,452,43,476,50,489,57,503,40,505,44,498,60,502,70,517,73,510,83,489,93,474,93,454,115,453,128,447,126,419,113,407,107,390,118,384,124,394,135,403,152,404,179,417,194,420,214,420,226,410,242,408,254,405,261,397,260,390,272,394,286,394,305" alt="北海道・東北" id="area1" />
    <area shape="poly" coords="389,314,382,311,377,315,373,311,366,304,361,304,349,311,343,311,338,309,330,318,319,323,319,329,325,331,324,341,333,351,339,358,333,366,337,375,361,384,375,376,377,370,388,356,382,333" alt="関東" id="area2" />
    <area shape="poly" coords="351,253,320,261,285,288,268,297,269,313,251,333,246,343,231,358,232,364,239,365,245,361,253,355,258,352,270,350,271,348,269,343,283,326,294,332,293,340,286,351,294,363,292,373,299,373,309,366,312,357,313,369,317,374,320,372,320,366,332,367,340,358,323,341,325,332,319,329,318,324,322,322,328,319,337,310,342,312,342,293,351,291,355,281,355,273,354,266,359,263" alt="甲信越・北陸" id="area3" />
    <area shape="poly" coords="334,366,320,366,320,373,314,370,312,357,310,365,301,372,292,373,295,363,287,350,294,341,295,333,284,326,269,342,271,348,267,351,257,352,254,356,259,367,260,376,255,383,249,383,248,394,252,398,248,401,248,414,242,418,243,423,245,423,258,409,273,405,276,399,280,393,296,394,312,395,316,390,323,385,330,396,339,387,341,381" alt="東海" id="area4" />
    <area shape="poly" coords="201,352,215,353,225,350,228,352,231,359,233,363,240,365,254,355,259,366,260,374,259,379,255,384,250,384,248,395,253,398,248,402,249,414,243,418,243,423,246,424,241,431,237,433,225,427,219,416,207,404,198,386,196,378,202,369" alt="関西" id="area5" />
    <area shape="poly" coords="164,352,177,356,188,356,201,352,201,361,201,368,196,378,208,405,208,419,190,438,176,428,163,434,154,454,144,450,136,446,126,430,126,418,96,407,94,391,102,390,108,391,118,381,123,380,148,361,149,356" alt="中国・四国" id="area6" />
    <area shape="poly" coords="95,408,101,417,114,417,119,426,127,448,114,461,99,500,76,512,65,501,8,542,3,540,3,533,15,518,63,479,56,452,50,423,73,409,91,405" alt="九州・沖縄" id="area7" />
    </map>
    <script type="text/javascript">initMapURL("$link.contextPath/theme/default/images/");</script>
    </div>
    </div>
