doctype strict
html
  include partials/header
  body
    #container
      #contents
        #header
          .content
            .free
              // 自由ヘッダ
              include contents/freeHeader
        #main
          .content
            #headContent
              .free
                include contents/headContent
              .recruitInfo
                img(src='/jobfind-pc/theme/default/images/hed_top.gif', alt='採用情報')
            #bottomContent
              .freeHead
                // INDEX用自由コンテンツ(中)
                include contents/freeHead
              #social
              .freeBottom
                // INDEX用自由コンテンツ(下)
                include contents/freeBottom
              #areaLink.areaLink
                // 地域テキストリンク
                include partials/areaLink
          .space
      #footer
        .content
          .free
            // 自由フッターstart
            include contents/freeFooter
            // 自由フッターend
