.backToTop.js-backToTop
  a(data-scroll='', href='#')
p.privacy-policy
  a(href='http://info2.recop.jp/privacy/analytics.pdf', target='_blank', rel=rel) Google Analyticsの利用について
p.copy #{copyRight.main}
  if copyRight.sub
    span #{copyRight.sub}
p.recop
  | Powered by
  a(href='https://recop.jp', target='_blank', rel=rel) リクオプ
include ../components/common/footerJsInclude
