@charset "UTF-8";
/*****************************************
- First time cording was done by maSuzuki.
  Source from Canada ;)
- This file is used for only header and
  footer. Please look at topPage.css for
  another things.
*****************************************/
/*=======================================
  For PC Styles
========================================*/
div#container, #header div.content, #main div.content {
  width: 100%; }

#footer .content .free {
  background: none;
  margin: 0 auto;
  max-width: 960px; }

@font-face {
  font-family: 'fontawesome';
  src: url("/jobfind-pc/original/fonts/fontawesome-webfont.eot");
  src: url("/jobfind-pc/original/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("/jobfind-pc/original/fonts/fontawesome-webfont.woff") format("woff"), url("/jobfind-pc/original/fonts/fontawesome-webfont.ttf") format("truetype"), url("/jobfind-pc/original/fonts/fontawesome-webfont.svg#fontawesome") format("svg"); }

/*****************************
fontfamily initialisation
*****************************/
@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 100; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 200; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 300; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Medium");
  font-weight: 400; }

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold; }

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 100; }

@font-face {
  font-family: "Helvetica Neue";
  src: local("Helvetica Neue Regular");
  font-weight: 200; }

html {
  font-size: 62.5%; }

body {
  font-family: "-apple-system", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", "Yu Gothic", YuGothic, Meiryo, メイリオ, sans-serif; }

.flatlink, #listContent, .pankuzuObj,
#social, h1.list {
  margin: 0 auto;
  max-width: 960px; }

#listContent {
  margin: 0 auto 100px; }

.pankuzuObj,
#social {
  margin: 0 auto !important; }

h1.list {
  margin: 0 auto 15px; }

.pc {
  display: block !important; }
  @media (max-width: 900px) {
    .pc {
      display: none !important; } }

.tab {
  display: none !important; }
  @media (max-width: 740px) {
    .tab {
      display: none !important; } }

.pc-tab {
  display: block !important; }
  @media (max-width: 740px) {
    .pc-tab {
      display: none !important; } }

.tab-sp {
  display: none !important; }
  @media (max-width: 900px) {
    .tab-sp {
      display: block !important; } }

.sp {
  display: none !important; }
  @media (max-width: 740px) {
    .sp {
      display: block !important; } }

.hdWrap {
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0 0 5px;
  max-width: 960px;
  width: 90%;
  position: relative; }
  @media (max-width: 740px) {
    .hdWrap {
      display: block;
      padding: 10px 10px 15px; } }
  @media (-webkit-device-pixel-ratio: 3) {
    .hdWrap {
      padding: 0 constant(safe-area-inset-right) 5px constant(safe-area-inset-left);
      padding: 0 env(safe-area-inset-right) 5px calc(env(safe-area-inset-left)); } }

@media (max-width: 740px) and (-webkit-device-pixel-ratio: 3) {
  .hdWrap {
    padding: 0 constant(safe-area-inset-right) 15px constant(safe-area-inset-left);
    padding: 0 env(safe-area-inset-right) 15px calc(env(safe-area-inset-left)); } }

.logo {
  width: 300px; }
  @media (max-width: 740px) {
    .logo {
      margin: 0 auto 10px;
      width: 200px; } }
  @media (max-width: 500px) {
    .logo {
      width: 150px; } }
  .logo a img {
    width: 100%; }

.hdHeading {
  text-align: right;
  width: calc(100% - 300px); }
  @media (max-width: 740px) {
    .hdHeading {
      display: block;
      text-align: center;
      width: 100%; } }

.topH1 {
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.42857;
  margin: 11px 0 0; }
  .topH1 span {
    color: #333;
    display: inline-block;
    margin: 0 0 0 1em; }
  @media (max-width: 500px) {
    .topH1 {
      font-size: 11px;
      font-size: 1.1rem; } }

.backToTop {
  margin: 0 auto;
  max-width: 960px;
  pointer-events: none;
  text-align: right;
  right: 10px;
  z-index: 99999; }
  .backToTop a {
    background: #000;
    display: inline-block;
    height: 46px;
    width: 46px;
    pointer-events: auto;
    position: relative;
    transition: all 0.5s ease; }
    @media (min-width: 900px) {
      .backToTop a:hover {
        opacity: 0.7; } }
    @media (max-width: 740px) {
      .backToTop a {
        height: 30px;
        width: 30px; } }
    .backToTop a::before {
      color: #fff;
      content: '\F106';
      font-family: fontawesome;
      font-size: 30px;
      font-size: 3rem;
      line-height: 1;
      display: block;
      margin: -3px 0 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translateX(-50%) translateY(-50%);
              transform: translateX(-50%) translateY(-50%); }
      @media (max-width: 740px) {
        .backToTop a::before {
          font-size: 20px;
          font-size: 2rem;
          margin: -1px 0 0; } }

#footer {
  background: #fff;
  margin: 0;
  position: relative; }
  #footer .content .free {
    border-top: solid 4px #3b499f;
    padding: 20px 0;
    max-width: 960px;
    width: 100%; }
    @media (-webkit-device-pixel-ratio: 3) {
      #footer .content .free {
        padding: 20px constant(safe-area-inset-right) 20px constant(safe-area-inset-left);
        padding: 20px env(safe-area-inset-right) 20px env(safe-area-inset-left); } }
    @media (max-width: 960px) {
      #footer .content .free {
        padding: 20px; } }
    @media (max-width: 740px) {
      #footer .content .free {
        border-top: solid 2px #3b499f;
        padding: 10px; } }

.privacy-policy {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: right;
  margin: 0; }
  @media (max-width: 740px) {
    .privacy-policy {
      text-align: center; } }
  .privacy-policy a {
    color: #3b499f; }
    .privacy-policy a:active, .privacy-policy a:link, .privacy-policy a:visited {
      color: #3b499f !important;
      text-decoration: none !important; }
    .privacy-policy a:hover {
      opacity: 0.75;
      transition: 0.3s ease 0s;
      text-decoration: none !important; }

.copy, .recop {
  color: #3b499f;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: right;
  margin: 0; }
  @media (max-width: 740px) {
    .copy, .recop {
      text-align: center; } }
  .copy span, .recop span {
    display: inline-block;
    margin: 0; }

.recop a {
  color: #3b499f;
  text-decoration: underline !important; }
  .recop a:active, .recop a:link, .recop a:visited {
    color: #3b499f !important;
    text-decoration: none !important; }
  .recop a:hover {
    opacity: 0.75;
    transition: 0.3s ease 0s;
    text-decoration: none !important; }

/*# sourceMappingURL=original.css.map*/