/*************************************************************************************************
【rs_frameworks.css】
・responsive.css
・RS_searchForm.css
・RS_entryForm.css
・RS_jobPage.css
以上４つを整理統合しました。

※カラーリング周りの設定は【rs_setting.css】にて。

【更新履歴】
20150603:現行詳細ページの三角リストマークのクロスブラウザ対応
20150527:現行詳細ページの三角リストマーク修正
20150521:スプライト画像拡大＆種類増加
20150515:一覧ページの現行タイトルの背景色設定

**************************************************************************************************/



/*******************************************************************************

	【PCMODE】
	width:～800px
	数値・色は任意に入れ替える

********************************************************************************/
/*=============================================================================*/
/*
/*●共通設定（PC)
/*
/*=============================================================================*/
body#pagetop{
	font-size:14px!important;
}
table {
	font-size: 14px;
}
#main .content{padding: 10px 0 60px;}

.paging-top{
	margin-bottom:15px;
}
#main .content {
	background-color: #ffffff;
	margin: auto auto 60px;
	width: 100%;
}

/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*/
/*
/*	原稿一覧ページ（PC)
/*
/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*

div.heading ul.button {
	font-size:0;
	text-align: right;
	margin:1% -1%;
}
div.heading .button li{
	display: inline-block;
	width: 31%!important;
	margin: 1%;
}
div.heading .button li img{
	width: auto;
	height: auto;
	max-width: 100%;
}

/*--------------------------------------
　.pic_insert1/insert2
　 一覧ページ：差し込み画像
----------------------------------------*/
.pic-insert1 {
	padding: 10px 0 0 !important;
	overflow:hidden;
}
.pic-insert2 {
	float: left;
	padding: 0 0 6px !important;
	margin-right:1%
	width: 160px;
}
.pic-insert2 img {
	max-width: 160px;
	width: 100%;
}

/*--------------------------------------
  jobbox_btn_sp/head_box2
　(スマートフォン用応募ボタン）
----------------------------------------*/
.jobbox_btn_sp {
	display: none;
}
.box:after,
.jobbox_btn_sp:before {
	clear: both;
	content: "";
	display: block;
	height: 0;
	visibility: hidden;
}
#listContent .acmode_td{
	display:table-cell;
}
/*--------------------------------------
  bottom_pankuzuObj/flatlink
　パンくずリスト（スマホ用）
  ※script側で表示制御
----------------------------------------*/
.bottom_pankuzuObj,
.bottom_flatlink{
	font-size:10px;
}
.bottom_pankuzuObj{
	text-align:right;
	padding-bottom:20px;
}
.bottom_flatlink{
	text-align:right;
}

.bottom_pankuzuObj ul li{
	display:inline-block;
	padding-right: 5px;
	word-break: break-all;
	word-wrap: break-word;
}
/*--------------------------------------
　自動挿入用応募ボタン（PC・非表示）
----------------------------------------*/
.spButton {display:none}


/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*
/*	原稿詳細ページ（PC)
/*
/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*--------------------------------------
　応募フォーム矢印
----------------------------------------*/
#formContent div.entryFlow ul.entryFlowObj {
	font-size: 11px;
}
/*--------------------------------------
　上段（給与・アクセス）
----------------------------------------*/
#detailContent table.dataSummaryTable th{
	font-size:14px;
	color:#ffffff;
	width:10%;
}
#detailContent table.dataSummaryTable td{
	font-size:16px;
	width:40%;
	padding:3px 1%;
}
/*--------------------------------------
　中段（仕事情報・事業内容）
----------------------------------------*/
#detailContent #leftContent,
#detailContent #rightContent{
	width:47%;
}
#detailContent div.title{
	margin-top:0!important;
}

#detailContent #leftContent .descriptions{
	margin-bottom:20px;
}
/*--------------------------------------
　下段（募集情報）
----------------------------------------*/
#detailContent table.infoTable{
	border-left:0;
}
#detailContent table.infoTable td,
#detailContent table.infoTable th{
	border-right:0;
}

#detailContent table.infoTable th{
	width:28%;
	padding:1% 2%!important
}

#detailContent table.infoTable td{
	padding:1% 2%!important
}
/*--------------------------------------
　画像ファイル
----------------------------------------*/
.pic-insert3 ul{
	text-align:center
}
.pic-insert3 ul li{
	display:inline-block;
	width:31%;
}
.pic-insert3 ul li img{
	width:100%;
	max-width:320px;
}
/*--------------------------------------
　三角マーク
----------------------------------------*/
.k_js_popup:before {
	content: "";
	border-style: solid;
	border-width: 6px 0 6px 12px;
	width: 0;
	height: 0;
	display:inline-block;
}
#detailContent #actionArea table td img{
/*	width:300px;*/
}

/*★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★*/
/*
/*	応募入力ページ（PC）
/*
/*★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★*/
/*--------------------------------------
　画面上部パンくず矢印（応募シートに記入）
----------------------------------------*/
#formContent div.entryFlow {
	font-size: 11px!important;
}

/*--------------------------------------
　右側（応募先～応募後のプロセス）
----------------------------------------*/
#formContent div#sideContent {
	max-width: 320px;
	width: 38%;
}
#formContent div#sideContent div.infoObj {
	font-size: 12px;
	padding: 4px !important;
	width: 100% !important;
}
/*--------------------------------------
　左側（入力フォームのテーブル）
----------------------------------------*/
#formContent div#mainContent {
	background-color: #fff;
	font-size: 14px !important;
	margin: 8px 0 20px;
	max-width: inherit;
	width: 60%;
}

/*******************************************************************************

	【SPMODE】
	width:670～px
	数値・色は任意に入れ替える

********************************************************************************/
@media screen and (max-width: 670px){
/*=============================================================================*/
/*
/*●共通事項（SP)
/*
/*=============================================================================*/
#main .content {
	padding: 10px 0 60px;
}
#mainContent {
	float: none;
	margin-left: 0;
	width: 100%;
}
#sideContent {
	display: none;
}
.paging-top, .paging-bottom {
	font-size: 16px;
	text-align: center;
}
#listContent, #detailContent, #formContent{
	margin-left:0;
	margin-right:0;
}
.contentsMenu1, .contentsMenu2 {
	background: url("../images/linkArrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
	width: 100%;
}
.footer_box, .footer_contents_link, .footer_contents_copy, .footer_contents {
	font-size: 12px;
}

/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*/
/*
/*	原稿一覧ページ（SP)
/*
/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*/
/*--------------------------------------
　検索テーブル（SP)
----------------------------------------*/
#listContent div.searchpanelObj {
	margin-bottom: 5px;
	border: 0 solid #dddddd;
	padding: 1px;
}
#listContent div.searchpanelObj div.tablebox {
	border: 0 solid #d2d2d2 !important;
}
#listContent div.searchpanelObj div.tablebox table td #freewordsearch {
	display: block;
	margin: 10px auto;
}
#listContent div.searchpanelObj div.tablebox table td {
	padding: 5px;
}
#listContent div.searchpanelObj div.tablebox table th {
	padding: 3px 4px 4px;
}
#formContent div#mainContent div.formObj table {
	border-left: 0 solid #999999 !important;
}
#formContent div#mainContent div.formObj table td {
	border-right: 0 solid #999999 !important;
}
#formContent div#mainContent div.formObj table th {
	width: 20%;
}
#detailContent #actionArea table td img {
}
/*--------------------------------------
　検索フォーム（SP)
----------------------------------------*/
#listContent table{
	width:100%;
}
#listContent tr{
	clear:both;
	width:100%;
}
#listContent td.acmode_td{
	display:table-cell;
	width:98%!important;
	padding:7px 1% 5px!important;
	margin:0;
	float:left;
}
/*--------------------------------------
　フリーワード検索（SP)
----------------------------------------*/
.freeWordObj {
	height: auto;
	margin: 0 !important;
}
#freeword {
	height: 24px;
	width: 100%;
}
.freeWordInput {
	float: none !important;
	margin-left: 5px;
}
.freeWordInput strong {
	display: none;
}
.freeWordButton {
	float: none !important;
}
#listContent, #detailContent, #formContent {
	margin-left: 0;
	margin-right: 0;
}
/*--------------------------------------
　検索結果一覧（SP)
----------------------------------------*/
#listContent .sp_mode {
	display: block;
	width: 100%;
}
h1.list {
	margin-left: 5px;
	padding-left: 8px;
}
/*--------------------------------------
　職種タイトル
　ネガティブマージンを加えて幅を広げる
----------------------------------------*/
div.heading h3 {
	margin: -12px 0 0 -12px;
	padding: 0 12px;
	width: 100%!important;
	position: relative;
}
.heading h3 a {
	display: block;
	padding: 12px;
	margin-left:-12px;
}

/*背景画像*/
.sp_shosai:after,
div.heading h3:after{
	position: absolute;
	right: 0;
	top: 0;
	bottom:0;
	margin:auto;
}
/*--------------------------------------
　原稿ボックス（SP)
----------------------------------------*/
#listContent div.listObj div.listbox {
	border-style:solid!important;
	border-width:1px 0 0!important;
	padding: 0;
}
#listContent div.listObj div.u_listbox {
	width: 98%;
	margin-bottom: 5px;
	text-align: center;
}
#listContent div.listObj div.u_listbox h3 {
	float: none;
	margin: 12px 5px;
	width: auto;
	font-size: 14px;
}
#listContent div.listObj div.u_listbox img {
	display: none;
}
#listContent div.listObj div.listbox div.box div.heading ul {
	display: none;
}
#listContent div.listObj div.listbox div.box {
	border: 0 solid #d9d9d9 !important;
}
/*--------------------------------------
  jobbox_btn_sp/head_box2
　(スマートフォン用応募ボタン）
----------------------------------------*/
.jobbox_btn_sp {
	display: inline;
	margin: 0 auto;
	width: 90%;
}
.head_box2 {
	text-align: center;
	width: 100%;
}
.head_box2 .a_link1,
.head_box2 .a_link2 {
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	padding: 4px;
	width: 47%;
	margin:1%;
}
.head_box2 .link_a {
	display: block;
}
/*--------------------------------------
　応募ボタン（SP)
----------------------------------------*/
.width465px + ul.button{
	display:none!important;
}
/*--------------------------------------
　自動挿入用応募ボタン（SP)
----------------------------------------*/
.spButton {
	display:block;
	margin:10px 0 0;
	text-align:center;
}
.spButton ul {
	font-size: 0;
	margin: 1% -1%;
}
.spButton li{
	width:48%;
	margin: 1%;
	display:inline-block;
	box-sizing:border-box;
}
.spButton li.l2._longline{
	width: 98%;
}
.spButton li img{display:none;}

.spButton li a{
	display:block;
	text-decoration:none!important;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 2;
}
/*--------------------------------------
　.pic_insert1/insert2（SP）
　一覧ページ：差し込み画像
----------------------------------------*/
.pic-insert1 {
	float: right;
	padding: 10px 0 0 !important;
	width: 72%;
}
.pic-insert2 {
	float: left;
	padding: 0 0 6px !important;
	width: 25%;
}
.u_button {
	display: none;
	width: auto;
}
/*--------------------------------------
　パンくずリスト（SP）
　スマホ幅の場合はページ最下部に移動する
----------------------------------------*/
#headContent div.pankuzuObj {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 0;
}
/*--------------------------------------
　sp_obo（SP)
----------------------------------------*/
.sp_obo {
	background-color: #ff6600;
	color: #ffffff;
	font-size: 14px;
	padding: 4px;
	text-align: center;
	width: 100%;
}
.sp_obo a:link, a:active {
	color: #ffffff !important;
	text-decoration: none !important;
}
.sp_obo a:visited {
	color: #ffffff !important;
	text-decoration: none !important;
}
.sp_obo a:hover {
	color: #ffffff !important;
	text-decoration: underline !important;
}
.sp_shosai {
	padding-right: 30px;
	position:relative;
}
/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*
/*	原稿詳細ページ（SP)
/*
/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/

#detailContent #leftContent {
	font-size: 12px;
	width: 100% !important;
	float: none !important;
}
#detailContent #rightContent {
	float: none !important;
	font-size: 12px;
	width: 100% !important;
}
#detailContent table.infoTable {
	border-left: 0 solid #999999;
}
#detailContent table.infoTable td {
	border-right: 0 solid #999999;
}
#detailContent #actionArea table {
	text-align: center;
}
#formContent div#mainContent {
	float: none;
	width: 100%;
	max-width:inherit;
}
/*--------------------------------------
　仕事情報/事業案内
----------------------------------------*/
#detailContent h2.detailTitle {
	border: 1px solid #fff;
	padding: 12px 6px;
}
/*--------------------------------------
　コンテンツ＆トリガー（左）
----------------------------------------*/
/*プラスアイコン（非表示）*/
#leftContent h2.detailTitle {
	font-size: 16px;
	position:relative;
}
#leftContent .descriptions {
	display: none;
}
#detailContent div.majorArea p.catch {
	font-size: 100%;
	margin-top: 10px;
}
#detailContent table.large th {
	max-width: 120px;
	width: 25%;
}
#detailContent table.middle th {
	max-width: 100px;
	width: 17%;
}
/*--------------------------------------
　コンテンツ＆トリガー（右）(SP)
----------------------------------------*/
/*プラスアイコン（非表示）*/
/*#rightContent h2.detailTitle {
	background-image: url("../images/btn_plas3.png") !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;
	color: #ffffff !important;
	font-size: 16px;
}
/*マイナスアイコン（表示中）*/
/*#rightContent h2.active {
	background-image: url("../images/btn_minus3.png") !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;
	color: #ffffff !important;
}
/*--------------------------------------
　上段（給与・アクセス）(SP)
----------------------------------------*/
/*Android標準ブラウザ対応*/
#detailContent table.dataSummaryTable,
table.dataSummaryTable tbody,
table.dataSummaryTable tr,
table.dataSummaryTable th,
table.dataSummaryTable td{
	display:block;
}
#listContent, #detailContent, #formContent{
	margin:0!important;
}
#detailContent #actionArea table td img{
/*	width:250px;*/
}
/*ボーダー対策*/
#detailContent table.dataSummaryTable{
	border:none!important;
}
#detailContent table.dataSummaryTable th, #detailContent table.dataSummaryTable td{
	border:none!important;
}
#detailContent table.dataSummaryTable th{
	display:block;
	width: 100%;
	line-height: 2.5;
	text-align: left;
	padding: 4px 3px 2px;
	float:left\9;
	box-sizing:border-box;
}
#detailContent table.dataSummaryTable td{
	display:block;
	width: 100%;
	padding: 4px 3px 2px;
	line-height:2.0;
	margin-bottom:10px;
	float:left\9;
	box-sizing:border-box;
}
/*--------------------------------------
　下段（募集情報）(SP)
　floatを設定し縦並べにする
----------------------------------------*/
#detailContent table.infoTable {
	border: none;
	box-sizing: border-box;
	margin: auto;
	width: 100%;
}
#detailContent table.large th {
	float: left;
	max-width: inherit!important;
	width: 100%!important;
}
#detailContent table.middle th {
	float: left;
	max-width: inherit!important;
	width: 100%!important;
}
#detailContent table.infoTable th {
	border:none!important;
	box-sizing: border-box;
	font-weight: 700;
	line-height: 2.5;
	padding: 0;
	text-align: left;
	vertical-align: top;
}
#detailContent table.infoTable td {
	border:none!important;
	box-sizing: border-box;
	float: left;
	line-height:2.0;
	margin-bottom:10px;
	text-align: left;
	vertical-align: top;
	width: 100%;
	word-break: break-all;
	word-wrap: break-word;
}
/*--------------------------------------
　画像ファイル(SP)
----------------------------------------*/
.pic-insert3 ul{
	text-align:center
}
.pic-insert3 ul li{
	width:auto;
}
.pic-insert3 ul li img{
	width:100%;
	max-width:150px;
}

/*★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★*/
/*
/*	応募入力ページ（SP）
/*
/*★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★☆★*/

/*--------------------------------------
　右側（応募先～応募後のプロセス）
----------------------------------------*/
#formContent div#sideContent {
	display: none;
}
/*--------------------------------------
　左側（入力フォームのテーブル）
----------------------------------------*/
#formContent div#mainContent {
	float: none;
	max-width: inherit;
	width: 100%;
}
#formContent div#mainContent div.formObj table {
	border-left: 0 solid #999999 !important;
}

#formContent div#mainContent div.formObj table th {
	width: 20%;
}
#formContent div#mainContent div.formObj table td {
	border-right: 0 solid #999999 !important;
}

#formContent div#mainContent div.formObj textarea{
	width:100%
}

}
