/*******************************************************************************

【RS_setting.css】下層ページ設定用スタイルシート
下層ページの色・背景・切り替えタイミング幅・画像は一律ここで設定

◆ひし形：原稿一覧ページ◇
□四角形：原稿詳細ページ■

/*******************************************************************************

	【PCMODE】
	width:～800px
	数値・色は任意に入れ替える

********************************************************************************/



/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*/
/*
/*	原稿一覧ページ（PC)
/*
/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*/
/*--------------------------------------------------*/
/*　h1.list(app.cssと重複：注意！）
/*--------------------------------------------------*/
h1.list{
	border-left: 6px solid #3b4a9f !important;
}
/*--------------------------------------------------*/
/*　棒線・ページ上部
/*--------------------------------------------------*/
#listContent div.listObj div.pagehead{
	border-bottom: 3px solid #3b4a9f !important
}
/*--------------------------------------------------*/
/*　○○件あり(app.cssと重複：注意！）
/*--------------------------------------------------*/
#listContent div.listObj div.pagehead span{
	color: #3b4a9f !important;
}
/*--------------------------------------------------*/
/*　外枠ボックス(app.cssと重複：注意！）
/*--------------------------------------------------*/
.#listContent div.listObj div.listbox{
	border: 1px solid #ccf5cc !important;
	background-color: #ddffdd !important;
}
/*--------------------------------------------------*/
/*　内枠ボックス(app.cssと重複：注意！）
/*--------------------------------------------------*/
#listContent div.listObj div.listbox div.box{
	background-color: #ffffff !important;
	border: 1px solid #bbd2f5 !important;
}

/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*
/*	原稿詳細ページ（PC)
/*
/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*--------------------------------------------------*/
/*　給与/アクセス/仕事情報/事業内容/募集情報の背景 (app.cssと重複：注意！）
/*--------------------------------------------------*/
#detailContent table.dataSummaryTable th,
#detailContent h2.detailTitle{
	background-color:#3b4a9f!important;
	color:#ffffff!important;
}
/*--------------------------------------------------*/
/*　募集情報・勤務地～応募情報・応募後のプロセス (app.cssと重複：注意！）
/*--------------------------------------------------*/
#detailContent table.infoTable th{
	background-color: #dcdcdc;
}
/*--------------------------------------------------*/
/*　地図リンク（三角のリストマーク）
/*--------------------------------------------------*/
#detailContent .k_js_popup:before {
	border-color: transparent transparent transparent #3b4a9f;
}
/*--------------------------------------------------*/
/*　仕事情報（黒丸のリストマーク）
/*--------------------------------------------------*/
#detailContent dl.descriptions dt span{
	color:#3b4a9f!important;
}


@media screen and (max-width:900px){
/*******************************************************************************

	【TABMODE】
	width:900～671px
	数値・色は任意に入れ替える

********************************************************************************/
/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*
/*	原稿詳細ページ（TAB)
/*
/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*----------------------------------------
左右のフロートを解除し、かつ幅一杯にする。
------------------------------------------*/
#detailContent #leftContent,
#detailContent #rightContent{
	width:100%;
	float:none;
}
}



@media screen and (max-width: 670px){
/*******************************************************************************

	【SPMODE】
	width:670～px
	数値・色は任意に入れ替える

********************************************************************************/

/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*/
/*
/*	原稿一覧ページ（SP)
/*
/*◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆◇◆*/
/*--------------------------------------------------*/
/*　◆職種タイトル
/*--------------------------------------------------*/
div.heading h3 {
	background-color:#FFEED2!important;
	position: relative;
	/*背景画像はスプライト画像化により廃止。再利用やカスタマイズの際はファイルを用意しコメントアウトを切り替えること*/
	/*background: url("../images/linkArrow.png") no-repeat scroll right center #E8D9D9!important;*/
}
.sp_shosai:after,
div.heading h3:after {
	content: "";
	background-size:auto 50px;
	background-image: url("../images/splite_icon_spmode.png");
}
/*********************/
/*画像
/*********************/
.sp_shosai:after,
div.heading h3:after {
	height:16px;
	width:13px;
	right:5%;
	background-position: -42px 0;
/*	background-position: -42px -34px;	白い矢印：暗い背景用*/
}
/*--------------------------------------------------*/
/*　◆応募/詳細ボタン(自動挿入用応募ボタン利用時は224行目まで)
/*--------------------------------------------------*/
.head_box2 .a_link1{
	background-color: #E60012;
	border:1px solid #E60012;
}
.head_box2 .a_link2 {
	background-color: #E60012;
	border:1px solid #E60012;
}
/*マウスオーバー*/
.head_box2 .a_link1:hover{
	background-color:#ffffff;
	border: 1px solid #E60012;
}
.head_box2 .a_link2:hover{
	background-color:#ffffff;
	border: 1px solid #E60012;
}
.head_box2 .a_link1:hover a{color:#E60012!important;}
.head_box2 .a_link2:hover a{color:#E60012!important;}

.head_box2 a:link {
	color: #fff !important;
	text-decoration: none !important;
}
.head_box2 a:visited {
	color: #fff !important;
	text-decoration: none !important;
}
/*line応募ボタン*/
.head_box2 .a_link3 {
      background-color: #E60012;
      border:1px solid #E60012;
}

.head_box2 .a_link3:hover{
      background-color:#ffffff;
      border: 1px solid #E60012;
}
.head_box2 .a_link3:hover a{color:#E60012!important;}

/*--------------------------------------------------*/
/*　◆検索フォーム(app.cssと重複：注意！）
/*--------------------------------------------------*/
div#listContent div.searchpanelObj div.tablebox table th{
	position: relative;
/*
	background-color: #eeeeee !important;
	border-bottom: 1px solid #d2d2d2 !important;
	border-right: 1px solid #d2d2d2 !important;
	border-top: 1px solid #ffffff !important;
	color: #000000 !important;
*/
}
/*--------------------------------------------------*/
/*　◆検索フォーム・ボタン画像
/*--------------------------------------------------*/
#listContent th.acmode_trigger{
	width:94%!important;
	font-weight:normal;
	padding: 10px 3%!important;
	margin:0;
	float:left;
	font-size:16px;
	text-shadow: 1px 1px 1px #888;
}
/*開閉前*/
#listContent th.acmode_trigger:after{
	content: "";
	background-image: url("../images/splite_icon_spmode.png");
	background-size:auto 52px;
	display: inline-block;
	position: absolute;
	right: 5%;
	top: 0;
	bottom: 0;
	margin: auto;
	background-repeat: no-repeat;
}

/*********************/
/*◆画像設定
/*********************/
/*白抜きplus/minus：-88px 0 / -70px 0	（←標準設定）
/*白背景plus/minus：-88px -18px / -70px -18px
/*黒背景plus/minus：-88px -35px / -70px -35px
/*********************/
/*開閉前*/
#listContent th.acmode_trigger:after{
	height:14px;
	width: 14px;
	background-position: -88px 0;
}
/*開閉後*/
#listContent th.acmode_trigger.th_opened:after{
	background-position: -70px 0;
}

/*背景画像はスプライト画像化により廃止。再利用やカスタマイズの際はファイルを用意しコメントアウトを切り替えること
#listContent th.acmode_trigger{
	background-image:url("../images/rsform_plus.gif");
	background-repeat:no-repeat;
	background-position:94%;
}
#listContent th.acmode_trigger.th_opened{
	background-image:url("../images/rsform_minus.gif");
}
*/

/*-----------------------------------------------------------*/
/*　◆原稿ボックス（SP)(app.cssと重複：注意！）
/*-----------------------------------------------------------*/
#listContent div.listObj div.listbox {
	border-color:#000000!important;
}
/*-----------------------------------------------------------*/
/*　◆自動挿入用応募ボタン（未使用の場合は設定の必要なし）
/*-----------------------------------------------------------*/
.spButton li a{
	color:#ffffff!important;
	background-color: #cc0e0e;
	border: 1px solid #cc0e0e;
}
.spButton li a:hover{
	color:#cc0e0e!important;
	background-color:#ffffff;
}
/*-----------------------------------------------------------*/
/*　◆自動挿入用応募ボタン（SP)
/*　※互い違いに色設定する場合・使用しない場合は必要なし
/*-----------------------------------------------------------*/
/*応募ボタン*/
.spButton li.l1 a{
/*	color:#ffffff!important;*/
/*	background-color: #000585;*/
/*	border: 1px solid #000585;*/
}
.spButton li.l1 a:hover{
/*	color:#ffffff!important;*/
/*	background-color: #000585;*/
}

/*詳細ボタン*/
.spButton li.l2 a{
/*	color:#ffffff!important;*/
/*	background-color: #000585;*/
/*	border: 1px solid #000585;*/
}
.spButton li.l2 a:hover{
/*	color:#ffffff!important;*/
/*	background-color: #000585;*/
}

/*LINE応募ボタン*/
.spButton li.l3 a {
    color: #ffffff!important;
    background-color: #4ECD00;
    border: 1px solid #4ECD00;
}
.spButton li.l3 a:hover{
    color:#4ECD00!important;
    background-color:#fff;
}
/*
.spButton li.l3 a{
    color:#ffffff!important;
    background-color: #EB6201;
    border: 1px solid #EB6201;
}
.spButton li.l3 a:hover{
    color:#EB6201!important;
    background-color: #ffffff;
}
/*LINEで応募する*/
.spButton li.l3 a:before,
.spButton li.l3 a:after{background-color: #ffffff;}
.spButton li.l3:hover a:before,
.spButton li.l3:hover a:after{background-color: #ccc;}
/LINEで応募する*/
/*    .spButton li.l3 a:before {border-color: transparent transparent transparent #ffffff;}
      .spButton li.l3:hover a:before {border-color: transparent transparent transparent #8AD300;}




/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*
/*	原稿詳細ページ（SP)
/*
/*■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■□■*/
/*-----------------------------------------------------------*/
/*　コンテンツ＆トリガーボタン（左）
/*-----------------------------------------------------------*/
#leftContent h2.detailTitle{position:relative}
#leftContent h2.detailTitle:after{
	content: "";
	background-image: url("../images/splite_icon_spmode.png");
	background-size:auto 50px;
	color: #ffffff !important;
	display: inline-block;
	position: absolute;
	right: 2%;
	top: 0;
	bottom:0;
	margin:auto;
}
/*********************/
/*■アイコン設定
/*白抜きplus/minus：-22px 0 / 0 0
/*白背景plus/minus：-22px -14px / 0 -14px（←標準設定）
/*黒背景plus/minus：-22px -28px / 0 -28px
/*********************/
/*プラスアイコン（非表示）*/
#leftContent h2.detailTitle:after{
	width: 14px;
	height: 14px;
	background-position: -22px -17px !important;
}
/*マイナスアイコン（表示中）*/
#leftContent h2.detailTitle.active:after{
	background-position: 0 -17px !important;
}

/*背景画像はスプライト画像化により廃止。再利用やカスタマイズの際はファイルを用意しコメントアウトを切り替えること
#leftContent h2.detailTitle {
	background-image: url("../images/btn_plas3.png") !important;
	background-position: right center !important;
	background-repeat: no-repeat !important;
	font-size: 16px;
}
#leftContent h2.active {
	background-image: url("../images/btn_minus3.png") !important;
}
*/







}