@charset "utf-8";
/*======================================*/
/*										*/
/*										*/
/*										*/
/*	デフォルト地図アコーディオン化処理  */
/*										*/
/*										*/
/*										*/
/*	2014/10/07							*/
/*======================================*/

/*初期状態は非表示*/
#mapObj div.area ul li .btn_acmap{
	display:none;	
}

/*PC⇒スマホへの遷移する画面幅の調整は数値を変えてください*/
@media only screen and (max-width: 670px) {


/*#mapObjに幅が設定されている場合はアコーディオンメニュー下の画像がウィンドウ幅に追従しないことがあります。*/
/*その場合は任意のタイミングで#mapObjの幅をAuto(初期値)に設定してください。*/
/*
#mapObj{
	width:auto!important;	
}
*/

/*-★アコーディオンメニューの文字/色/線/画像を変えたい場合はここを調整してください--------------------------------------------------------*/

/*文字サイズ(全体)*/
#mapObj div.area ul li * {font-size:16px!important;}

/*最初の１行目の枠線*/
/*#mapObj div.area {border-top:1px solid #900B00;}*/

/*背景*/
#mapObj div.area ul li.a1,
#mapObj div.area ul li.a2,
#mapObj div.area ul li.a3,
#mapObj div.area ul li.a4,
#mapObj div.area ul li.a5,
#mapObj div.area ul li.a6,
#mapObj div.area ul li.a7{
	border-bottom:1px solid #E5DABF!important;
	background-color:#FEF5DC!important;
}
/*タイトル*/
#mapObj div.area .btn_acmap{
	color:black;
	line-height:3.0;
	padding-left:20px!important;
	font-size:18px!important;
	background-image:url("../images/arrow_bk01.gif");/*右端画像*/
	background-position:90% center;
	background-repeat:no-repeat;
}
#mapObj div.area .btn_acmap:before{
	/*content:url("../images/arrow_bk01.gif");/*左端画像*/
}
/*タイトル開閉後*/
#mapObj div.area .btn_acmap.openmap{
	background-image:url("../images/arrow_bk02.gif");/*右端画像*/
	background-position:90% center;
	background-repeat:no-repeat;
}
#mapObj div.area .btn_acmap.openmap:before{
	/*content:url("../images/arrow_bk02.gif");/*左端画像*/
}
/*都道府県リンク：画像(右端）*/
#mapObj div.area ul li.k1,
#mapObj div.area ul li.k2,
#mapObj div.area ul li.k3,
#mapObj div.area ul li.k4,
#mapObj div.area ul li.k5,
#mapObj div.area ul li.k6,
#mapObj div.area ul li.k7,
#mapObj div.area ul li.k8,
#mapObj div.area ul li.k9{
	padding-left:10%!important;
	line-height:3.0!important;
	border-bottom:1px solid #cccccc;
	background-image:url("../images/arrow_large.png")!important;
	background-position:95% center!important;
	background-repeat:no-repeat;
	background-color:white!important;
}
/*都道府県リンク：画像(左端）*/
#mapObj div.area ul li.k1 a:before,
#mapObj div.area ul li.k2 a:before,
#mapObj div.area ul li.k3 a:before,
#mapObj div.area ul li.k4 a:before,
#mapObj div.area ul li.k5 a:before,
#mapObj div.area ul li.k6 a:before,
#mapObj div.area ul li.k7 a:before,
#mapObj div.area ul li.k8 a:before,
#mapObj div.area ul li.k9 a:before{
	/*margin-right:1%;
	content:url("../images/h3_ttl.gif");*/
}
/*都道府県リンク：文字色*/
#mapObj div.area ul li.k1 a,
#mapObj div.area ul li.k2 a,
#mapObj div.area ul li.k3 a,
#mapObj div.area ul li.k4 a,
#mapObj div.area ul li.k5 a,
#mapObj div.area ul li.k6 a,
#mapObj div.area ul li.k7 a,
#mapObj div.area ul li.k8 a,
#mapObj div.area ul li.k9 a{
	color:black!important;
	font-size:18px!important;
}
/*--------------------------------------------------------------------------------------------------------------------------------------*/



/*調整用-----------------------------------------------------------------------------*/
p.map img{
	display:none;
}

.freeWordObj,p.catch,#mapObj h2{
	display:none;
}
/*募集していない地域・都道府県を不可視化*/
.a1-dead,.a2-dead,.a3-dead,.a4-dead,.a5-dead,.a6-dead,.a7-dead{
	display:none!important;
}

.k1-dead,.k2-dead,.k3-dead,.k4-dead,.k5-dead,.k6-dead,.k7-dead,.k8-dead,.k9-dead{
	display:none!important;
}

#mapObj {
    height: auto;
}

#mapObj div.area *{
	position:static!important;
}

#mapObj div.area {
	background:none!important;	
	position: static;
	width:100%!important;	
	height:auto!important;
}

#mapObj div.area ul{
	display:inline!important	
}

#mapObj div.area ul li .btn_acmap{
	display: block !important;
	width:100%!important;
}

#mapObj div.area ul li.a1,
#mapObj div.area ul li.a2,
#mapObj div.area ul li.a3,
#mapObj div.area ul li.a4,
#mapObj div.area ul li.a5,
#mapObj div.area ul li.a6,
#mapObj div.area ul li.a7{
	width:auto!important;
	height:auto!important;	
	background-image:none!important;
}

#mapObj div.area ul li.k1 a,
#mapObj div.area ul li.k2 a,
#mapObj div.area ul li.k3 a,
#mapObj div.area ul li.k4 a,
#mapObj div.area ul li.k5 a,
#mapObj div.area ul li.k6 a,
#mapObj div.area ul li.k7 a,
#mapObj div.area ul li.k8 a,
#mapObj div.area ul li.k9 a{
	width:auto!important;
    height:auto!important;
	background-image:none!important
}

#mapObj div.area ul li p.head{
	display:none!important;
}

#mapObj div.area ul li * {
	text-indent:0!important;
	margin:0!important;
	padding:0!important;
	width:auto!important;
}
/*-----------------------------------------------------------------------------------*/
}
