@charset "utf-8";

#line-notify-entry-modal-window {
	width: 70%;
	max-width: 600px;
	margin: 0;
	padding: 10px 30px;
	background: #fff;
	position: absolute;
	display: none;
	z-index: 20;
}

#line-notify-entry-modal-overlay {
	z-index: 10;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba( 0,0,0, 0.75 );
}

#line-notify-entry-button {
	color: #FFF;
	font-weight: bold;
	background-color: #00B900;
	border: 0px;
	cursor: pointer;

	padding: 10px 20px;
}

#line-notify-entry-button:hover {
	background-color: #128F0C;
}

#line-notify-entry-complete-button {
	color: #333;
	font-weight: bold;
	background-color: #e6e6e6;
	border: 1px solid #adadad;
	cursor: pointer;

	padding: 10px 20px;
}

#line-notify-entry-complete-button:hover {
	background-color: #d4d4d4;
	border: 1px solid #8c8c8c;
}

#line-notify-entry-modal-close {
	width: 20px;
	color: #000;
	font-size: 20px;
	text-decoration: none;
	position: absolute;
	top: 3px;
	right: 3px;
	line-height: 1.0;
	border: 1px solid #000;
	cursor: pointer;
}

#line-notify-entry-modal-close:hover {
	background-color: #e6e6e6;
	border: 1px solid #adadad;
}

#line-notify-entry-workplace {
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #000;
}

#line-notify-entry-terms-of-service {
	text-align: left;
	border: 1px solid #ccc;
	margin: 5px 0px;
	padding: 10px 5px;
	overflow: auto;
	max-height: 150px;
}

#line-notify-entry-terms-of-service-caution {
	margin: 10px 0px;
}

#line-notify-entry-modal-window .title {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}

#line-notify-entry-modal-window .result {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}
#line-notify-entry-modal-window .error {
	color:red;
	font-weight: bold;
	padding: 5px 0;
}
#line-notify-entry-modal-window .description {
	text-align: left;
}

#line-notify-entry-modal-window .buttons {
	padding: 20px 0 10px 0;
}

#line-notify-entry-modal-window .attention {
	padding: 5px 0;
	text-align: center;
}
