#footer{
  background: #fff;
  margin: 0;
  position: relative;
  //@media #{$tablet} {
  //  background: $main-color;
  //  padding: 0.1px 0 0;
  //}
  .content{
    .free{
      border-top: solid 4px $main-color;
      padding: 20px 0;
      //position: static;
      max-width: $main-width;
      width: 100%;
      @media #{$iPhoneX} {
        padding: 20px constant(safe-area-inset-right) 20px constant(safe-area-inset-left);
        padding: 20px env(safe-area-inset-right) 20px env(safe-area-inset-left);
      }
      @media #{$pc-small} {
        padding: 20px;
      }
      @media #{$sp-large} {
        border-top: solid 2px $main-color;
        padding: 10px;
      }
    }
  }
}

.privacy-policy{
  @include rem(12);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-align: right;
  margin: 0;
  @media #{$sp-large} {
    text-align: center;
  }
  a{
    color: $main-color;
    @include pseudo($main-color);
    @include hover();
  }
}

.copy{
  color: $main-color;
  @include rem(12);
  font-weight: 600;
  text-align: right;
  margin: 0;
  //@media #{$tablet} {
  //  color: $main-color;
  //}
  @media #{$sp-large} {
    text-align: center;
  }
  span{
    display: inline-block;
    margin: 0;
    //@media #{$sp-large} {
    //  margin: 0;
    //}
  }
}

.poweredBy {
  //display: flex;
  //align-items: center;
  //justify-content: center;
  //padding: 0 0 20px;
}

.recop{
  @extend .copy;
  //@include rem(12);
  //margin: 0;
  a{
    color: $main-color;
    text-decoration: underline !important;
    @include pseudo($main-color);
    @include hover();
    //@media #{$tablet} {
    //  color: #fff;
    //  @include pseudo(#fff);
    //}
  }
}
