//local variables
$logo-size: 300px;
$logo-size-sp: 200px;
$logo-size-xsp: 150px;
$padding-header-top: 0;
$padding-header-btm: 5px;
$padding-header-btm-sp: 15px;

#header {
  //border-bottom: solid 7px $sub-color;
  //@media #{$sp-small} {
  //  border-top: solid 5px $main-color;
  //}
}

.hdWrap{
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: $padding-header-top 0 $padding-header-btm;
  max-width: $main-width;
  width: 90%;
  position: relative;
  @media #{$sp-large} {
    display: block;
    padding: 10px 10px $padding-header-btm-sp;
  }
  @media #{$iPhoneX} {
    padding: $padding-header-top constant(safe-area-inset-right) $padding-header-btm constant(safe-area-inset-left);
    padding: $padding-header-top env(safe-area-inset-right) $padding-header-btm calc(env(safe-area-inset-left));
  }
  @media #{$sp-large} {
    @media #{$iPhoneX} {
      padding: $padding-header-top constant(safe-area-inset-right) $padding-header-btm-sp constant(safe-area-inset-left);
      padding: $padding-header-top env(safe-area-inset-right) $padding-header-btm-sp calc(env(safe-area-inset-left));
    }
  }
}

.logo{
  width: $logo-size;
  @media #{$sp-large} {
    margin: 0 auto 10px;
    width: $logo-size-sp;
  }
  @media #{$sp-small} {
    width: $logo-size-xsp;
  }
  a{
    img{
      width: 100%;
    }
  }
}

.hdHeading {
  text-align: right;
  width: calc(100% - #{$logo-size});
  @media #{$sp-large} {
    display: block;
    text-align: center;
    width: 100%;
  }
}

.topH1{
  //color: #015fc1;
  @include rem(14);
  font-weight: 500;
  line-height: (20/14);
  margin: 11px 0 0;
  span{
    color: $font-color;
    display: inline-block;
    margin: 0 0 0 1em;
  }
  @media #{$sp-small} {
    @include rem(11);
  }
}
