/* テーブル調整 */
#listContent div.searchpanelObj div.tablebox {
	border: none !important;
}
#listContent div.searchpanelObj div.tablebox table {
	width: 100%;
	border-collapse:collapse
}
#listContent div.searchpanelObj div.tablebox table tbody tr th {
	width: 15%;
	border: none !important;
}
#listContent div.searchpanelObj div.tablebox table tbody tr td {
	width: 85%;
	border: none !important;
}
#listContent div.searchpanelObj div.tablebox table tbody tr:first-child th {
	border-top: none !important;
}
#listContent div.searchpanelObj div.tablebox table tbody tr:not(:first-child) {
	border-top: 1px dotted #d2d2d2 !important;
}

/* 絞り込み項目の選択にあわせてチェック画像を表示する */
#listContent div.searchpanelObj div.tablebox table td ul li.search-criteria-unchecked {
	position: relative;
	font-size: 16px;
	/*margin: 1px 5px 0px 0px !important;*/
	margin: 6px 5px 0px 0px !important;
	padding: 0px 5px 0px 20px !important;
}

#listContent div.searchpanelObj div.tablebox table td ul li.search-criteria-checked {
    background-color: #ededed;
    background-image: url("../images/checked.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 20px auto;
    font-size: 16px;
    margin: 6px 5px 0 0;
    padding: 0 0 0 20px;
}

table td ul li.search-criteria-title {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin: 1px 10px 0px 0px !important;
}

#listContent div.searchpanelObj div.tablebox table td ul li.search-criteria-checked strong {
}

#listContent div.searchpanelObj div.tablebox table td ul li.search-criteria-unchecked {
	background-image: url("../images/unchecked.png") !important;
	background-repeat: no-repeat !important;
	background-position: left center !important;
	background-size: 20px 20px !important;
}

/* フリーワード検索 */
#listContent div.searchpanelObj div.tablebox table td ul input#freeword {
	height: 2em;
}